.header-initial {
	background: rgba(0,0,0,0.8);
}
.login-page {
	background: #000 url('../../../../assets/images/jordanshoesbanner.png') no-repeat fixed center center / cover ;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 75px 30px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.center-form {
	padding: 20px 15px;
	background: rgba(255,255,255,0.84);
	border-radius: 4px;
	width: 400px;
}
.center-form form {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 0 0;
}
.center-form form .form-group {
	width: 100%;
	margin: 0 0% 20px;
}
.check-user {
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.check-user label {
	display: flex;
	align-items: center;
	margin: 0 4% 0 0;
	font-size: 16px;
	letter-spacing: 1px;
}
.check-user label input {
	margin: 2px 6px 0 0;
}
.login-button {
	width: 100% !important;
	text-align: center;
}
.login-button button {
	padding: 0 15px;
	height: 34px;
	background: #000;
	color: #fff;
	border: none;
	border-radius: 0;
	line-height: 33px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	width: 120px;
}
.backlinks {
	text-align: center;
	width: 100% !important;
}
.backlinks a {
	color: #0f5fde;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
/* Responsive ====================*/
@media screen and (max-width: 768px){
.login-page {
	min-height: 100vh;
	height: 100%;
}
}
@media screen and (max-width: 500px){
.center-form {
	width: 100%;
}
}