<!-- <div class="login_form">
  <div class="login_form_set">
    <div class="login-logo"><h2>Login</h2></div>
    <form name="loginForm" [formGroup]="formGroup" (ngSubmit)="login()">
      <div class="form-group" [formGroup]="formGroup">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="" autocomplete="off" formControlName="email">
      </div>
      <div class="form-group" [formGroup]="formGroup">
          <label>Password</label>
          <input class="form-control" formControlName="password" type="password" placeholder="" id="password-input" autocomplete="off">
        </div>
      <div class="form-group login-button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div> -->

<div class="login-page">
    <div class="center-form">
      <h3 class="text-center">LOG IN</h3>
      <form name="loginForm" [formGroup]="formGroup" (ngSubmit)="login()">
        <div class="form-group" [formGroup]="formGroup">
            <label>Email</label>
          <input type="email" class="form-control" placeholder="" autocomplete="off" formControlName="email">
          <!-- <input type="text" class="form-control" placeholder="@Username" required> -->
        </div>
        <div class="form-group" [formGroup]="formGroup">
            <label>Password</label>
            <input class="form-control" formControlName="password" type="password" placeholder="" id="password-input" autocomplete="off">
          <!-- <input type="Password" class="form-control" placeholder="Password" required> -->
        </div>
        <div class="form-group login-button">
          <button type="submit">Login</button>
        </div>
        <div class="backlinks">Dont have an account? <a href="create/account">Create account</a></div>
      </form>
    </div>
  </div>