<div class="cast-page">
	<div class="about-bg"><span>Add Service</span></div>
</div>
<div class="login_form">
	<div class="login_form_set">
		<div class="login-logo"><h2>Welcome to <span>FixMyKix</span> Custom Services</h2></div>
		<form>
			<div *ngIf="categories?.length > 0" class="form-group service-selection">
				<label class="w-100">Select Option</label>
				<label class="label-check" *ngFor="let category of  categories; let i = index;" for="{{category.type}}"><input type="radio" id="{{category.id}}" name="cate01" value="{{category.id}}" (click)="selectedCategory(category);"> {{category.name}}</label>
			</div>
			<div *ngIf="subCategories?.length > 0" class="form-group service-selection">
				<label class="w-100">Restoration Option Category</label>
				<label *ngFor="let subCategory of  subCategories; let i = index;" class="label-check" for="{{subCategory.id}}"><input type="radio" id="{{subCategory.id}}" name="cate02" (click)="selectedSubCategory(subCategory);"> {{subCategory.name}}</label>
			</div>
			<div *ngIf="subCategoriesOpt?.length > 0" class="form-group service-selection">
				<label class="w-100">Restoration Option Sub Category</label>
				<label class="label-check" *ngFor="let subCategoryOpt of  subCategoriesOpt; let i = index;" for="{{subCategoryOpt.id}}"><input type="radio" id="{{subCategoryOpt.id}}" name="cate03" (click)="selectedSubCategoryOpt(subCategoryOpt);"> {{subCategoryOpt.name}}</label>
			</div>
			<div class="form-group service-selection" *ngIf="Single_Set_Option?.length > 0">
				<label class="w-100">Restoration Single Set Option</label>
				<label class="label-check" *ngFor="let option of  Single_Set_Option; let i = index;"  for="{{option.id}}"><input type="radio" id="{{option.id}}" name="cate04" (click)="setServices(option);"> {{option.name}}</label>
			</div>
			<div class="form-group service-selection" *ngIf="Services?.length > 0">
				<label class="w-100">Restoration Multiple Option selection of Upper Repair</label>
				<label class="label-check" *ngFor="let service of  Services; let i = index;"><input type="checkbox" [(ngModel)]="service.isChecked" name="{{service.name}}" (change)="onCheckboxChange(service.isChecked, service.id)" checked="false"> {{service.name}}</label>
			</div>
			<!-- 
			<div class="form-group service-selection">
				<label class="w-100">Restoration Multiple Option selection of Upper Repair</label>
				<label class="label-check"><input type="checkbox"> Repaint</label>
				<label class="label-check"><input type="checkbox"> Re-Dye</label>
				<label class="label-check"><input type="checkbox"> Reglue</label>
				<label class="label-check"><input type="checkbox"> Stitching</label>
				<label class="label-check"><input type="checkbox"> Patching</label>
				<label class="label-check"><input type="checkbox"> Refinish</label>
				<label class="label-check"><input type="checkbox"> Remove Crensing</label>
				<label class="label-check"><input type="checkbox"> Other</label>
			</div>
			<div class="form-group service-selection">
				<label class="w-100">Restoration Multiple Option selection of Interior Repair</label>
				<label class="label-check"><input type="checkbox"> In Sole Replacement</label>
				<label class="label-check"><input type="checkbox"> Lining Repair</label>
				<label class="label-check"><input type="checkbox"> Other</label>
			</div>
			<div class="form-group service-selection">
				<label class="w-100">Restoration Multiple Option selection of Sole Repair</label>
				<label class="label-check"><input type="checkbox"> Heel Repair</label>
				<label class="label-check"><input type="checkbox"> Deoxidation(Remove Yellow)</label>
				<label class="label-check"><input type="checkbox"> Reglue</label>
				<label class="label-check"><input type="checkbox"> Stitching</label>
				<label class="label-check"><input type="checkbox"> SDE Replacement</label>
				<label class="label-check"><input type="checkbox"> Mid-sole Replacement</label>
				<label class="label-check"><input type="checkbox"> Other</label>
			</div>
			<div class="form-group service-selection">
				<label class="w-100">Restoration Multiple Option selection of Cleaning</label>
				<label class="label-check"><input type="checkbox"> Deep Cleaning</label>
				<label class="label-check"><input type="checkbox"> Spot Cleaning</label>
				<label class="label-check"><input type="checkbox"> Other</label>
			</div> -->
			<div class="form-group login-button">
				<button type="submit" [disabled]="submit_btn == false" (click)="submit();" class="btn btn-primary btn-sm">Submit</button>
			</div>
		</form>
	</div>
</div>