.login_form {
  // background: url('../../../../../assets/images/img_bg01.jpg') no-repeat scroll center center / cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 15px;
  overflow-y: auto;
  position: relative;
}
.login-logo {
  text-align: center;
  margin: 0px 0 20px;
}
.login-logo h2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #2B3B54;
  text-align: center;
}
.login-logo h2 span {
  text-transform: uppercase;
}
.login_form_set {
  /*background: #fff;*/
  background: rgba(255,255,255,0.95);
  border-radius: 10px 10px 0px 0px;
  width: 550px;
  box-sizing: border-box;
  padding: 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px -19px #000;
}
.login_form_set form {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.login_form_set form {
  display: flex;
  flex-wrap: wrap;
}
.login_form_set form .form-group {
  margin: 0 0 12px;
  padding: 0 5px;
  position: relative;
  display: block;
  width: 100%;
}
.login_form_set form .form-group label {
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}
.login_form_set form .form-group label.label-check {
  display: inline-flex;
  align-items: center;
  margin: 0 12px 0 0;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
.login_form_set form .form-group label.label-check input {
  margin: 0 6px 0 0;
  width: 10px;
  height: 10px;
}
.btn:focus, .btn:hover {
  background-color: #0069d9 !important;
}
.login-button {
  width: 100% !important;
  text-align: center;
  padding: 0 2%;
  box-sizing: border-box;
  margin: 10px 0 0 0 !important;
}
.login_form_set form .form-group button {
  /*background: #008cff;*/
  // background: #000;
  border-radius: 6px;
  color: #fff;
  border: none;
  width: 160px;
  padding: 4px 10px 7px;
  box-sizing: border-box;
}
.login_form_set form .form-group button:focus {
  outline: none;
  border: none;
}
/* Responsive =================================================================*/
@media screen and (max-width: 580px){

}