/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

// @mixin nb-auth-theme() {
//   ngx-auth .navigation .link .icon {
//     font-weight: nb-theme(font-weight-bold);
//   }
// }

.content {
  padding:0px !important;
}

.nb-card-body {
  padding:0px;
}