// Profile Modal Css
.login_form {
    background: url('../../../../assets/images/img_bg01.jpg') no-repeat scroll center center / cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // min-height: 100vh;
    padding: 0px 15px;
    overflow-y: auto;
    position: relative;
  }
  .login-logo {
    text-align: center;
    margin: 0px 0 20px;
  }
  .login-logo h2 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B3B54;
    text-align: center;
  }
  .login-logo h2 span {
    text-transform: uppercase;
  }
  .login_form_set {
    /*background: #fff;*/
    background: rgba(255,255,255,0.95);
    border-radius: 10px 10px 0px 0px;
    width: 550px;
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px -19px #000;
  }
  .login_form_set form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .login_form_set form {
    display: flex;
    flex-wrap: wrap;
  }
  .login_form_set form .form-group {
    width: 46%;
    margin: 0 2% 12px;
    position: relative;
  }
  .login_form_set form .form-group label {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
  }
  .login_form_set form .form-group input[type="text"],
  .login_form_set form .form-group input[type="email"],
  .login_form_set form .form-group input[type="number"] {
    height: 32px;
    line-height: 32px;
  }
  .login_form_set form .form-group input[type="file"] {
    margin: 4px 0 0 0;
  }
  .errmsg {
    position: absolute;
    color: red;
    left: 0;
    bottom: -18px;
    font-size: 11px;
    font-weight: bold;
    transition: all 3s;
  }
  .gender {
    display: flex;
    flex-wrap: wrap;
  }
  .gender .gender-check {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 15px;
    margin: 0 25px 0 0 !important;
  }
  .gender .gender-check input {
    margin: 0 5pX 0 0;
  }
  .login-button {
    width: 100% !important;
    text-align: right;
    padding: 0 2%;
    box-sizing: border-box;
    margin: 10px 0 0 0 !important;
  }
  .login_form_set form .form-group button {
    /*background: #008cff;*/
    background: #000;
    border-radius: 6px;
    color: #fff;
    border: none;
    width: 160px;
    height: 32px;
    line-height: 32px;
  }
  .form-group-100 {
    width: 98% !important;
  }
  /* Responsive =================================================================*/
  @media screen and (max-width: 580px){
    .login_form {
      padding: 50px 35px;
    }
    .login_form_set, .login_form_set form .form-group button {
      width: 100%;
      background: rgba(255,255,255,0.75);
    }
    .login_form_set form {
      flex-direction: column;
    }
    .login_form_set form .form-group {
      width: 96%;
    }
    .gender .gender-check {
      margin: 6px 25px 0 0 !important;
    }
  }






  // Profile Css
  .header-initial {
    background: rgba(0,0,0,0.8);
  }
  #main {
    padding: 40px 15px;
  }
  .about-shoe-servicec-list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-shoe-servicec-list li {
    width: 100%;
    margin: 0 0 20px;
    padding: 15px 15px 0;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
  }
  .profile-descrition {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-shoe-servicec-list li .profile-descrition figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #fff;
    background: #fff;
    margin: 0 30px 20px 0;
    box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
  }
  .about-shoe-servicec-list li .profile-descrition figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .profile-view {
    width: calc(100% - 230px);
  }
  .profile-review {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 18px;
  }
  .rating-stars {
    display: flex;
    align-items: center;
  }
  .rating-stars span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px 0 0;
  }
  .rating-stars .fa {
    font-size: 20px;
    margin: 0 3px 0 0;
  }
  .servicerequest {
    background: #000;
      color: #fff;
      font-weight: normal;
      height: 30px;
      line-height: 28px;
      text-transform: uppercase;
      font-size: 13px;
      padding: 0 15px;
      border: none;
      border-radius: 0;
      border: 1px solid #000;
      transition: all 0.3s;
  }
  .servicerequest:hover {
      border: 1px solid #000 !important;
    background: #fff;
    color: #000;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  .alternative-tabs {
    display: flex;
    padding: 10px !important;
    align-items: stretch;
  }
  .alternative-tabs .native-tabs {
    width: 250px;
    border: 1px solid #eaeaea;
    border-top: none;
  }
  .alternative-tabs .native-tabs .nav-fill {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  .alternative-tabs .native-tabs .nav-fill a {
    padding: 15px 15px 18px;
    font-weight: bolder;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .alternative-tabs .native-tabs .nav-fill a.active, .alternative-tabs .native-tabs .nav-fill a:hover {
    background: #000 !important;
    color: #fff !important;
  }
  .alternative-tabs #nav-tabContent {
    width: calc(100% - 250px);
    border: 1px solid #eaeaea;
    border-left: 0;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  .nav-tab-heading {
    background: #000;
    color: #fff;
    padding: 0 10px;
    text-transform: capitalize;
    height: 40px;
    line-height: 38px;
    font-size: 32px;
    margin: 0 0 10px;
  }
  #nav-tabContent .table {
    margin: 0;
  }
  #nav-tabContent .table tr th {
    width: 180px;
  }
  .min-max-scroll {
    min-height: 0;
    max-height: 300px;
    overflow-y: auto;
  }
  .message-chat-window h2 {
    margin: 0;
  }
  .message-chat-window .chat-window {
    border: 1px solid #eaeaea;
    height: 330px;
  }
  .message-chat-window .chat-window .chat-box-scroll {
    display: flex;
    height: 298px;
    align-items: flex-end;
  }
  .message-chat-window .chat-window ul {
    padding: 10px 15px;
    width: 100%;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
  }
  .message-chat-window .chat-window ul li {
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    display: flex;
    position: relative;
  }
  .message-chat-window .chat-window ul li.text-msg-left {
    text-align: left;
    justify-content: flex-start;
  }
  .message-chat-window .chat-window ul li.text-msg-left:before {
    position: absolute;
    content: '';
    border-right: 9px solid rgba(0,0,0,0.10);
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    left: -9px;
    top: 0.3px;
  }
  .message-chat-window .chat-window ul li.text-msg-right {
    text-align: right;
    justify-content: flex-end;
  }
  .message-chat-window .chat-window ul li.text-msg-right:before {
    position: absolute;
    content: '';
    border-left: 9px solid rgba(0,0,0,0.10);
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    right: -9px;
    top: 0.3px;
  }
  .message-chat-window .chat-window ul li p {
    width: 84%;
    margin: 0 0 10px;
  }
  .message-chat-window .chat-window ul li p span {
    display: inline-block;
    background: rgba(0,0,0,0.10);
    padding: 2.5px 7px 4px;
    border-radius: 6px;
    border-top-left-radius: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .message-chat-window .chat-window ul li p small {
    display: block;
    font-size: 9px;
    color: gray;
    font-family: sans-serif;
    margin: 3px 0 0 2px;
  }
  .message-chat-window .chat-window ul li.text-msg-right p span {
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
  }
  .message-chat-window .chat-window ul li.text-msg-right p small {
    margin: 3px 2px 0 0;
  }
  .enter-msg {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
  }
  .enter-msg input {
    background: #fff;
    border: none;
    width: calc(100% - 30px);
    display: block;
    height: 30px;
    line-height: 29px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .enter-msg button {
    border: none;
    background: none;
    border-radius: 0;
  }
  .enter-msg button {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: #000;
    color: #fff;
  }
  .scope-work {
    border: 1px solid #eaeaea;
    margin: 15px 0 0 0;
  }
  /* Responsive =========================*/
  @media screen and (max-width: 991px){
  .profile-descrition {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-view {
    width: 100%;
  }
  .alternative-tabs {
    flex-direction: column;
  }
  .alternative-tabs .native-tabs{
    width: 100%
  }
  .alternative-tabs .native-tabs .nav-fill {
    flex-direction: initial;
    flex-wrap: wrap;
    border: 1px solid #eaeaea;
  }
  .alternative-tabs .native-tabs .nav-fill a {
      padding: 5px 10px 7px;
      font-weight: normal;
      font-size: 13px;
  }
  .alternative-tabs #nav-tabContent {
    width: 100%;
    border: 1px solid #eaeaea !important;
    padding: 10px;
  }
  .nav-tab-heading {
    height: 30px;
      line-height: 26px;
      font-size: 16px;
  }
  }
  @media screen and (max-width: 480px){
  .profile-review {
    flex-direction: column;
  }
  .servicerequest {
    text-align: center;
    margin: 10px 0 0 0;
  }
  .alternative-tabs .native-tabs .nav-fill a {
    width: 100%;
  }
  }