<!-- Profile Modal -->
<button type="button" class="btn btn-info btn-lg" id="profile_btn" data-toggle="modal" data-target="#myModal" style="display :none">Profile Modal</button>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <div class="modal-header">
				<h4 class="modal-title">Profile</h4>
			</div> -->
			<div class="modal-body">
				<div class="login_form">
					<div class="login_form_set">
						<div class="login-logo"><h2>Profile</h2></div>
						<form name="profile" [formGroup]="formGroup" (ngSubmit)="UpdateUser()" autocomplete="off">
							<div class="form-group" [formGroup]="formGroup">
								<label>First Name</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="first_name" autocomplete="off">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Last Name</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="last_name">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Email</label>
								<input type="email" class="form-control" placeholder="" autocomplete="off" formControlName="email">
							</div>
							<div class="form-group formTag" [formGroup]="formGroup">
								<label>Mobile Number</label>
								<input type="text" class="number form-control" placeholder="" formControlName="mobile_number" required>
							</div>
							<div class="form-group formTag" [formGroup]="formGroup">
								<label>Age</label>
								<input type="number" class="number form-control" placeholder="" formControlName="age" required>
							</div>
							<div  class="form-group gender" [formGroup]="formGroup">
									<label class="w-100">Gender</label>
									<label class="gender-check" for="male"><input type="radio" id="male" formControlName="gender" value="male"> Male</label>
									<label class="gender-check" for="female"><input type="radio" id="female" formControlName="gender" value="female"> Female</label>
							</div>
							<div class="form-group login-button">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">
			</div> -->
		</div>
		
	</div>
</div>
<div class="cast-page">
	<div class="about-bg"><span>Customer Profile</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<ul class="about-shoe-servicec-list">
				<li>
					<div class="about-shoe-text">
						<div class="profile-descrition">
							<figure class="view-browse-image">
								<img class="view-image" src="../../../../assets/images/img_user.png" alt="img">
							</figure>
							<div class="profile-view">
								<div class="detailed-profile">
									<div class="form-group">
										<label>Username</label>
										<p>Admin</p>
									</div>
									<div class="form-group">
										<label># of Transactions</label>
										<p class="text-uppercase">aahk3hkw23</p>
									</div>
									<div class="form-group">
										<p class="rating-stars">
											<span>Rating</span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
										</p>
									</div>
									<div class="form-group">
										<label>Feedback</label>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
									<div class="form-group">
										<label>Location</label>
										<p>Lorem ipsum dolor sit amet</p>
									</div>
								</div>
								<div class="profile-review justify-content-end">
									<a href="javascript:void(0)" class="servicerequest">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="alternative-tabs">
					<nav class="native-tabs">
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" id="nav-message-tab" data-toggle="tab" href="#nav-message" role="tab" aria-controls="nav-message" aria-selected="true">Messages</a>
							<a class="nav-item nav-link" id="nav-transaction-tab" data-toggle="tab" href="#nav-transaction" role="tab" aria-controls="nav-transaction" aria-selected="false">Transactions</a>
							<a class="nav-item nav-link" id="nav-setting-tab" data-toggle="tab" href="#nav-setting" role="tab" aria-controls="nav-setting" aria-selected="false">Settings</a>
						</div>
					</nav>
					<div class="tab-content message-chat-window" id="nav-tabContent">
						<div class="tab-pane fade active in" id="nav-message" role="tabpanel" aria-labelledby="nav-message-tab">
							<h2 class="nav-tab-heading">message</h2>
							<div class="chat-window">
								<div class="chat-box-scroll">
									<ul>
										<li class="text-msg-left">
											<p><span>hello</span><small>19 Aug 2020 10:20</small></p>
										</li>
										<li class="text-msg-right">
											<p><span>hello</span><small>19 Aug 2020 10:20</small></p>
										</li>
										<li class="text-msg-left">
											<p><span>hello</span><small>19 Aug 2020 10:20</small></p>
										</li>
										<li class="text-msg-right">
											<p><span>hello</span><small>19 Aug 2020 10:20</small></p>
										</li>
										<li class="text-msg-right">
											<p><span>hello</span><small>19 Aug 2020 10:20</small></p>
										</li>
									</ul>
								</div>
								<div class="enter-msg">
									<input type="text" name="msg" placeholder="Type here...">
									<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
								</div>
							</div>
							<div class="scope-work">
								<h2 class="nav-tab-heading">SCOPE OF WORK</h2>
								<div class="min-max-scroll">
									<table class="table table-hover table-bordered">
										<tbody>
											<tr>
												<th>Turn around time</th>
												<td>4 Weeks</td>
											</tr>
											<tr>
												<th>Cost of service</th>
												<td>4 Weeks</td>
											</tr>
											<tr>
												<th colspan="2">Description of service that will be provided</th>
											</tr>
											<tr>
												<td colspan="2"><textarea class="form-control"></textarea></td>
											</tr>
										</tbody>
									</table>
									<div class="text-center" style="padding-bottom: 10px">
										<button type="button" class="btn servicerequest">CENCEL</button>
										<button type="button" class="btn servicerequest">DECLINE SCOPE OF WORK</button>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-transaction" role="tabpanel" aria-labelledby="nav-transaction-tab">
							<h2 class="nav-tab-heading">Transactions</h2>
							<div class="min-max-scroll">
								<table class="table table-hover table-bordered">
									<thead>
										<tr>
											<th>Title of Transaction</th>
											<th>Description of Transactions</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Demo</td>
											<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab">
							<h2 class="nav-tab-heading">Settings</h2>
							<div class="min-max-scroll">

							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>