.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.explore-user-profile {
	display: flex;
	align-items: stretch;
}
.explore-user-profile .explore-filter {
	width: 250px;
	border: 1px solid #eaeaea;
}
.explore-user-profile .explore-filter .explore-search, .explore-user-profile .explore-details .explore-search {
	padding: 10px;
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.explore-user-profile .explore-filter .explore-search input, .explore-user-profile .explore-details .explore-search input {
	width: 200px;
	background: #fff;
	border: none;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
}
.explore-user-profile .explore-filter .unregister-explore {
	display: flex;
	flex-wrap: wrap;
}
.explore-user-profile .explore-filter .unregister-explore a {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	color: #000;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	border: 1px solid #000;
	transition: all 0.3s;
}
.active-service, .explore-user-profile .explore-filter .unregister-explore a:hover {
	color: #fff !important;
	background: #000 !important;
}
.explore-user-profile .explore-filter .unregister-explore a:hover {
	background: #fff;
	color: #000;
}
.explore-user-profile .explore-filter .price-range {
	padding: 25px 21px 20px 17px;
}
.slider-labels {
  margin-top: 15px;
  display: flex;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 1px;
  align-items: center;
  justify-content: space-between;
}
#slider-range-value1 {
	margin: 0 0 0 -6px;
}
#slider-range-value2 {
	margin: 0 -12px 0 0;
}
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  z-index: 10;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.noUi-horizontal {
  height: 4px;
}
.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #000;
}
.noUi-background {
  background: #D6D7D9;
}
.noUi-connect {
  background: #000;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 2px;
}
.noUi-target.noUi-connect {
}
.noUi-draggable {
  cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.noUi-handle:active {
  border: 8px solid #000;
  border: 8px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

.services {
	padding:0px 20;
}

.form-check-inline {
	margin:0px 10px !important;
}

.explore-user-profile .explore-filter .explore-categories ul {
	padding: 10px 0 10px 0px;
	min-height: 0;
  height: 260px;
  overflow-y: auto;
}
.explore-user-profile .explore-filter .explore-categories ul li {
	padding: 0 0 0 30px;
	margin: 0 0 10px;
	font-weight: bold;
}
.price-range-head {
	list-style-type: none;
	padding: 10px;
	background: #000;
	color: #fff;
}
.explore-user-profile .explore-filter .explore-categories ul li a {
	display: block;
	font-weight: normal;
	color: gray;
	position: relative;
	text-transform: capitalize;
}
.explore-user-profile .explore-filter .explore-categories ul li a::before {
	position: absolute;
	content: '';
	left: -20px;
	top: 10px;
	width: 10px;
	height: 1px;
	background: #000;
}
.explore-user-profile .explore-filter .explore-categories ul li a:hover {
	color: #000;
}
.explore-tags ul{
	height:auto !important;
}
.explore-user-profile .explore-details {
	width: calc(100% - 250px);
	padding: 0 0 0 20px;
}
.explore-details ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1%;
	align-items: stretch;
}
.explore-details ul li {
	width: 31.33%;
	margin: 0 1% 15px;
}
.explore-details ul li .listing-details {
	border: 1px solid #eaeaea;
}
.explore-details ul li .listing-details a {
	padding: 10px 10px 0;
}
.explore-details ul li a figure {
	height: 180px;
	margin: 0 0 5px 0;
}
.explore-details ul li a figure img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.editupdatlinks {
	margin: 0 0 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.editupdatlinks a .fa {
	display: block;
	color: #000;
	font-size: 20px;
}
.listing-details a {
	display: flex;
	flex-wrap: wrap;
	color: #000;
}
.listing-name, .listing-username {
	width: calc(100% - 90px);
	font-weight: bolder;
	font-size: 15px;
	line-height: 25px;
}
.listing-price, .listing-rating {
	width: 90px;
	line-height: 25px;
	text-align: right;
}
.hide {
	display: none;
}
/*responsive*/
@media screen and (max-width: 991px){
	.explore-details ul li {
		width: 48%;
	}	
}
@media screen and (max-width: 768px){
	.explore-details ul li {
		width: 98%;
	}	
}
@media screen and (max-width: 640px){
	.explore-user-profile {
		flex-direction: column;
	}
	.explore-user-profile .explore-filter {
		width: 100%
	}
	.explore-user-profile .explore-details {
		width: 100%;
		padding: 0;
	}
	.explore-details ul li {
		width: 98%;
	}
	.explore-tags ul {
		margin: 0;
		padding: 0 !important;
		height:  auto;
	}
}