<main>
	<div class="cast-page">
		<div class="about-bg"><span>Explore Artist</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<div class="explore-user-profile">
				<div class="explore-filter">
					<!-- <p class="price-range-head">Price Range</p>
					<div class="price-range">
						<div id="slider-range"></div>
						<div class="slider-labels">
							<div class="caption">
								<span id="slider-range-value1"></span>
							</div>
							<div class="text-right caption">
								<span id="slider-range-value2"></span>
							</div>
						</div>
						<form>
							<input type="hidden" name="min-value" value="">
							<input type="hidden" name="max-value" value="">
						</form>
					</div> -->
					
					<!-- <div class="unregister-explore">
						<a href="javascript:void()0" id="restoration-tab" class="active-service">Restoration</a>
						<a href="javascript:void()0" id="sneakerart-tab">Sneaker Art</a>
					</div>
					<div class="cate-show">
						<div class="explore-categories restoration-tab">
							<ul>
								<li>Traditional Cobbler Restoration</li>
								<li><a href="javascript:void(0)">Dye Shoes</a></li>
								<li><a href="javascript:void(0)">Stretch Shoes</a></li>
								<li><a href="javascript:void(0)">Replace Heels</a></li>
								<li><a href="javascript:void(0)">Add Protective Rubber</a></li>
								<li><a href="javascript:void(0)">Shoe Shine</a></li>
								<li>Sneaker Restoration</li>
								<li><a href="javascript:void(0)">Deep Clean</a></li>
								<li><a href="javascript:void(0)">Repaint</a></li>
								<li><a href="javascript:void(0)">ReGlue</a></li>
								<li><a href="javascript:void(0)">Dye Shoes</a></li>
								<li><a href="javascript:void(0)">Deosidation/Unyellow</a></li>
								<li><a href="javascript:void(0)">Sole Swap</a></li>
								<li><a href="javascript:void(0)">Full Restoration</a></li>
							</ul>
						</div>
						<div class="explore-categories sneakerart-tab hide">
							<ul>
								<li><a href="javascript:void(0)">Custom Colorway</a></li>
								<li><a href="javascript:void(0)">Custom Characters</a></li>
							</ul>
						</div>
					</div> -->
					<div class="explore-categories explore-tags">
						<ul><li>Services</li></ul>
					</div>

					<div class="explore-categories services">
						<div *ngFor="let service of  artist_services; let i = index;" class="col-sm-12 form-check form-check-inline">
							<input class="form-check-input" [(ngModel)]="service.isChecked" type="checkbox" id="{{service.id}}" (change)="onCheckboxChange(service.isChecked, service.id)" checked="false"/>
							<label class="form-check-label" for="{{service.id}}">{{service.name}}</label>
						</div>
						<!-- <ul>
							<li *ngFor="let service of  artist_services; let i = index;">
								<a href="javascript:void(0)">{{service.name}}</a></li>
						</ul> -->
					</div>
				</div>
				<div class="explore-details">
					<!-- <div class="explore-search">
						SEARCH FILTER
						<input type="search" name="search" placeholder="Search">
					</div> -->
					<ul>
						<li *ngFor="let artist of  aritsts_lists; let i = index;">
							<div class="listing-details">
								<a href="javascript:void(0)" (click)="SetArtistId(artist.id)">
									<figure><img src="../../../../assets/../../../../assets/images/img_aboutfix08.jpg"></figure>
									<div class="listing-name">{{artist.first_name}}</div>
									<!-- <div class="listing-price">$<span>1020</span></div> -->
									<!-- <div class="listing-username">{{artist.service_description}}</div> -->
									<!-- <div class="listing-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div> -->
								</a>
								<!-- <div class="editupdatlinks">
									<a href="javascript:void(0)"><i class="fa fa-fire"></i></a>
									<a href="javascript:void(0)"><i class="fa fa-comment"></i></a>
									<a href="javascript:void(0)"><i class="fa fa-user"></i></a>
								</div> -->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
