
			<div class="cast-page">
				<div class="about-bg"><span>Order Summary</span></div>
			</div>
			<div id="main">
				<div class="shoes-shoper">
					<ul class="about-shoe-servicec-list">
						<li>
							<div class="about-shoe-text delivery-method-choose">
								<h2 class="h2-base-heading"><p>Order Details</p></h2>
								<table class="table">
									<tbody>
										<tr>
											<td colspan="2" style="padding-bottom: 6px;">
												<figure><img src="../../../../assets/images/img_aboutfix08.jpg"></figure>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna  aliqua. Ut enim ad minim veniam.</p>
												<p><strong><i class="fa fa-map-marker"></i> Delivery adddres here</strong></p>
											</td>
										</tr>
										<tr>
											<td><p>Fee</p></td>
											<th>{{price}}</th>
										</tr>
										<tr>
											<td><p>Fee</p></td>
											<th>$100</th>
										</tr>
										<tr>
											<td><p>Fee</p></td>
											<th>$100</th>
										</tr>
										<tr>
											<td><p><strong>TOTAL</strong></p></td>
											<th>${{total}}</th>
										</tr>
									</tbody>
								</table>
								<div class="continue-button"><button type="submit" (click)="pay();">Confirm & PAY</button></div>
							</div>
						</li>
					</ul>
				</div>
			</div>