.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 768px;
  margin: 0 auto;
}
.about-shoe-servicec-list li {
	width: 98%;
	margin: 0 1% 20px;
	padding: 15px 15px 0;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
}
.li-50 {
	width: 48% !important;
	margin: 0 1% 20px;
}
.h2-base-heading {
	margin: 0 0 12px;
	font-size: 24px;
}
.delivery-method-choose .table {
	margin: -12px 0 20px 0;
}
.delivery-method-choose .table tr th, .delivery-method-choose .table tr td {
	border: none;
	border-bottom: 1px solid #eaeaea;
	padding: 0;
}
.delivery-method-choose .table tr th {
	width: 100px;
	text-align: right;
	letter-spacing: 1px;
	padding: 8px;
}
.delivery-method-choose .table tr td p {
	padding: 8px;
}
.delivery-method-choose .table tr td figure {
	margin: 8px 12px 2px 8px;
	float: left;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	padding: 2px;
}
.delivery-method-choose .table tr td figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.continue-button {
  text-align: right;
  margin: 0 0 15px;
  width: 100%;
  padding: 0 0;
}
.continue-button button {
  background: #000;
  color: #fff;
  font-weight: normal;
  height: 30px;
  line-height: 27px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0 15px;
  border: none;
  border-radius: 0;
  min-width: 150px;
}
.delivery-method-choose ul {
	padding: 0 0 0 20px;
}
.delivery-method-choose ul li {
	font-weight: bold;
	font-size: 14px;
	margin: 0 0 12px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  list-style-type: disc;
}
textarea {
	resize: none;
}
.alert a {
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #2995f3 !important;
}