<div class="signin-page">
  <div class="center-form">
    <h3 class="text-center">SIGN UP</h3>
    <form name="SignUpForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group" [formGroup]="formGroup">
        <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
      </div>
      <div class="form-group" [formGroup]="formGroup">
        <input type="text" class="form-control" placeholder="last Name" formControlName="last_name">
      </div>
      <div class="form-group" [formGroup]="formGroup">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
      <div class="form-group" [formGroup]="formGroup">
        <input type="Password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="form-group" [formGroup]="formGroup">
        <input type="Password" class="form-control" placeholder="Confirm Password" formControlName="cpassword">
      </div>
      <div class="form-group" [formGroup]="formGroup">
        <input type="text" class="form-control" placeholder="Zip Code" formControlName="zipcode">
      </div>
      <div class="form-group check-user" [formGroup]="formGroup">
          <label for="head" class="gender-check">
          <input type="radio" id="head" value="0" formControlName="role">
          Customer</label>
          <label for="Artist" class="gender-check">
          <input type="radio" id="Artist" value="1" formControlName="role">
          Service Provider</label>
      </div>
      <div class="form-group login-button">
        <button type="submit">Submit</button>
      </div>
      <div class="backlinks">Already have an account <a href="login"> LOGIN</a></div>
    </form>
  </div>
</div>