<main>
	<div class="cast-page">
		<div class="about-bg"><span>Service Request Form</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<ul class="about-shoe-servicec-list">
				<li>
					<div class="about-shoe-text">
						<h2 class="h2-base-heading"><p>Request From</p></h2>
						<figure class="browse-image">
							<img class="view-image" src="../../../../assets/images/img_user.png" alt="img">
						</figure>
						<form class="information-form" #f="ngForm" (ngSubmit)="SendRequest( f.value )">
							<div class="form-group">
								<label>From</label>
								<input type="text" class="form-control" #user_name='ngModel' name="user_name" [(ngModel)]="service_request_form.user_name" placeholder="Users Username" required>
								<ng-container *ngIf="user_name.touched && user_name.invalid"> 
									<p class="error">User name is Required </p> </ng-container>
							</div>
							<div class="form-group">
								<label>To</label>
								<input type="text" class="form-control" name="artist_name" #artist_name='ngModel'  [(ngModel)]="service_request_form.artist_name"  placeholder="Artist Username" required>

								<ng-container *ngIf="artist_name.touched && artist_name.invalid"> 
									<p class="error">Artist name is Required </p> </ng-container>
							</div>
							<div class="form-group w-100">
								<label>Description of what is needed done to shoe. What is wrong with the shoe?</label>
								<textarea #description="ngModel" type="text" name="description" [(ngModel)]="service_request_form.description" class="form-control" placeholder="" required></textarea>
								<ng-container *ngIf="description.touched && description.invalid"> 
									<p class="error">Description is Required </p> </ng-container>
							</div>

							<div class="form-group w-100">
								<label>Services</label>
								<ng-multiselect-dropdown #multiSelect
								[placeholder]="'Select Services'" 
								[data]="dropdownList"
								name="services"
								[(ngModel)]="selectedItems"
								[settings]="dropdownSettings"
								[disabled]="false"
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</ng-multiselect-dropdown>
								<!-- <select class="form-control" name="service" #service="ngModel" [(ngModel)]="service_request_form.artist_service_ids" required> 
									<option value="">--Select Service--</option>
									<option value="{{service.id}}" *ngFor="let service of artist_services; let i = index;" required>{{service.service_name}}</option>
								</select> -->
							</div>
							<div class="form-group w-100">
								<label>Upload clear images of shoe that need work</label>
								<input type="file" accept=".png, .jpg, .jpeg" name="fileupload" style="width: 100%; margin: 10px 0 20px;">
								<div class="uploaded-image-viewer">
									<p><img src="./../../../assets/images/img_user.png"></p>
									<p><img src="./../../../assets/images/img_user.png"></p>
									<p><img src="./../../../assets/images/img_user.png"></p>
									<p><img src="./../../../assets/images/img_user.png"></p>
									<p><img src="./../../../assets/images/img_user.png"></p>
								</div>
							</div>
							<div class="continue-button"><button  type="submit" [disabled]="f.invalid">SEND SERVICE REQUEST</button></div>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</main>