.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list li {
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2);
	
}
.about-shoe-servicec-list li+li {
	margin: 20px 0 0 0;
}
.about-shoe-servicec-list li .about-shoe-text {
	width: calc(100% - 415px);
}
.about-shoe-servicec-list li .about-shoe-text .h2-base-heading, .about-shoe-servicec-list li .about-shoe-text .img-right {
	margin: 0 0 12px;
}
.about-shoe-servicec-list li .text-right a {
	display: inline-block;
	transition: all 0.5s;
  color: #fff;
  background: #000;
  padding: 4px 12px;
  border: 2px solid #000;
}
.about-shoe-servicec-list li .text-right a:hover {
	background: #fff;
	color: #000;
  padding: 4px 18px;
}
.about-shoe-servicec-list li figure {
	width: 415px;
	height: 250px;
	overflow: hidden;
	padding: 0 0 0 15px;
}
.about-shoe-servicec-list li figure img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 4px;
}
/* Responsive ===================*/
@media screen and (max-width: 991px){
	.about-shoe-servicec-list li {
		flex-direction: column;
	}
	.about-shoe-text {
		width: 100% !important;
		margin: 0 0 15px;
		text-align: center;
	}
	.about-shoe-text .text-right {
		text-align: center;
	}
	.about-shoe-servicec-list li figure {
		width: 100%;
		max-width: 400px;
		padding: 0;
		margin: 0 auto;
	}
}


.about-bg {
	background: #000 url('../../../../assets/images/jordanshoesbanner.jpg') no-repeat fixed top -100px center / 100% ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	line-height: 36px;
	color: #000;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 150px 15px 50px;
  }
  .about-bg span {
	padding: 5px 15px;
	background: rgba(255,255,255,0.8);
	text-align: center;
  }


@media screen and (max-width: 768px){
	.about-bg {
	  background: #000 url('../../../../assets/images/jordanshoesbanner.jpg') no-repeat fixed top 30px center / cover;
	}
  }


/* Responsive ===================*/
@media screen and (max-width: 991px){
	#main {
	  padding: 10px 10px 0 !important;
	}
	.h2-base-heading {
	  flex-direction: column;
	  font-size: 18px;
	}
	.h2-base-heading p {
	  margin: 0 0 10px;
	  flex-direction: column;
	}
	.h2-base-heading p img {
	  margin: 0 0 6px;
	}
	.mt-80 {
	  margin-top: 0 !important;
	}
	.about-bg {
	  background: #000 url('../../../../assets/images/jordanshoesbanner.jpg') no-repeat fixed top -70px center / cover;
	  font-size: 18px;
	  line-height: 24px;
	  padding: 100px 15px 50px;
	}
  }