<div class="cast-page">
	<div class="about-bg"><span>Shoe Restoration</span></div>
</div>
<div id="main">
	<div class="shoes-shoper">
		<ul class="about-shoe-servicec-list">
			<li>
				<div class="about-shoe-text">
					<h2 class="h2-base-heading">
						<p><img src="../../../../assets/images/icons/icon_shoedetails.png"> What Is Shoe Restoration?</p>
					</h2>
					<p class="img-right">Short description of Shoe Restoration…</p>
					<p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<figure><img src="../../../../assets/images/img_aboutfix02.jpg" alt="img"></figure>
			</li>
			<li>
				<div class="about-shoe-text">
					<h2 class="h2-base-heading">
						<p><img src="../../../../assets/images/icons/icon_shoedetails.png"> Shoe waste & How it affects the environment...…</p>
					</h2>
					<p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<figure><img src="../../../../assets/images/img_aboutfix03.jpg" alt="img"></figure>
			</li>
			<li>
				<div class="about-shoe-text">
					<h2 class="h2-base-heading">
						<p><img src="../../../../assets/images/icons/icon_shoedetails.png"> History of Shoe Restoration…..</p>
					</h2>
					
					<p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<figure><img src="../../../../assets/images/img_aboutfix04.jpg" alt="img"></figure>
			</li>
		</ul>
	</div>
</div>