<main>
	<div class="cast-page">
		<div class="about-bg"><span>Service Requests</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<ul class="about-shoe-servicec-list">
				<li *ngFor="let requests of  artist_services_Requests; let i = index;">
					<div class="about-shoe-text">
						<figure class="browse-image">
							<img class="view-image" src="../../../../assets/images/img_user.png" alt="img">
						</figure>
						<div class="information-form">
							<div class="form-group">
								<label>From</label>
								<p class="filled-value">{{requests.user_info.first_name}}</p>
							</div>
							<div class="form-group w-100">
								<label>Description of what is needed done to shoe. What is wrong with the shoe?</label>
								<p class="filled-value">{{requests.description}}</p>
							</div>
							<div class="form-group w-100">
								<label>Upload clear images of shoe that need work</label>
								<div class="uploaded-image-viewer">
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
								</div>
							</div>
							<div class="continue-button"><button *ngIf="requests.status == 'pending'" type="submit" (click)="OpenTotPage(requests)">accept</button><button *ngIf="requests.status == 'pending'" type="submit" (click)="Reject_Request(requests)">Reject</button> <button type="submit" class="cancel-button" *ngIf="requests.status == 'cancelled'" disabled>Cancelled</button>
								<button type="submit" class="cancel-button" *ngIf="requests.status == 'approved'" disabled>Approved</button><button type="submit" class="cancel-button" *ngIf="requests.status == 'rejected'" disabled>Rejected</button></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</main>
<button type="button" class="btn btn-info btn-lg" id="profile_btn" data-toggle="modal" data-target="#myModal" style="display :none">Profile Modal</button>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="login_form">
					<div class="login_form_set">
						<div class="login-logo"><h2>Profile</h2></div>
						<form name="profile" [formGroup]="formGroup" (ngSubmit)="Accept_Request()" autocomplete="off">
							<div class="form-group" [formGroup]="formGroup">
								<label>Price</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="price" autocomplete="off">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Turn arrount time</label>
								<input type="time" class="form-control" placeholder="" autocomplete="off" formControlName="turn_around_time">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Description</label>
								<textarea type="text" class="form-control" placeholder="" autocomplete="off" formControlName="description"></textarea>
							</div>
							<div class="form-group login-button">
								<button type="button" data-dismiss="modal" id="close_btn" >Close</button>
								<button type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">
			</div> -->
		</div>
		
	</div>
</div>