<div class="chat-messages">
  <div class="chat-messages-show-container">
    <ul class="chat-messages-show-list">
      <li *ngFor="let msg of  messages; let i = index;">
        <p>{{msg}}</p>
      </li>
    </ul>
  </div>
  <div class="chat-messages-create-container"> 
    <input class="chat-messages-create-input" type="text"  [(ngModel)]="message">
    <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
  </div>
</div>