<div class="cast-page">
	<div class="about-bg"><span>Services List</span></div>
</div>
<div class="profile-review service">
	<p class="rating-stars"></p>
	<div class="servicerequest">
		<a href="javascript:void(0)"  (click)="Artist_Add_Service()">Add Services</a>
	</div>
</div>

<div class="row service">
	<div class="col-sm-12" *ngIf="record == true">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			  <h1 class="record">No Record Found</h1>
			</div>
		  </div>
	</div>
	<div class="col-sm-12" *ngIf="services?.length > 0">
		<table class="table table-bordered">
				<thead>
					<tr>
						<th> S.No</th>
						<th> Service Name</th>
						<th> Number of Days</th>
						<th> Description</th>
						<th> Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let service of  services; let i = index;">
						<td>{{i+1}}</td>
						<td>{{service.service_name}}</td>
						<td>{{service.number_of_days}}</td>
						<td>{{service.description}}</td>
						<td><a href="javascript:void(0)" (click)="Delete_service(service)" title="Delete Service" ><i class="fa fa-trash" aria-hidden="true"></i>
						</a></td>
					</tr>
				</tbody>
		</table>
	</div>
</div>