<div class="cast-page">
	<div class="about-bg"><span>Delivery Address</span></div>
</div>
<div class="row">
	<div class="col-sm-4" *ngFor="let address of  addRessList; let i = index;">
		<label for="{{address.id}}">{{address.street}}</label>
		<input type="radio"  id="{{address.id}}" (change)="onCheckboxChange(address)" name="address" value="{{address.id}}">
	</div>
</div>

<div id="main">
	<div class="shoes-shoper">
		<ul class="about-shoe-servicec-list">
			<li>
				<div class="about-shoe-text delivery-method-choose">
					<form>
						<div class="form-group">
							<h4 style="margin: 0 0 8px 0;">Confirm your delivery address</h4>
							
						<form name="address" [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" [formGroup]="formGroup">
										<label>Street</label>
										<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="street" autocomplete="off">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" [formGroup]="formGroup">
										<label>City</label>
										<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="city">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" [formGroup]="formGroup">
										<label>State</label>
										<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="state">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group formTag" [formGroup]="formGroup">
										<label>Zip Code</label>
										<input type="text" class="form-control" placeholder="" formControlName="zip" required>
									</div>
								</div>
							</div>
							<div class="form-group continue-button">
								<button type="submit">Submit</button>
							</div>
						</form>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>