// #slider .carousel-item {
//   height: 500px;
// }

// .carousel-caption {
//   font-size: 18px;
// }

// .carousel-item>img {
//   width: 100%
// }

// .shoes-shoper .shoe-servicec-list {
//   display: flex;
//   flex-wrap: wrap;
//   /*margin: 0 -2%;*/
// }
// .shoes-shoper .shoe-servicec-list li {
//   width: 46%;
//   margin: 0 2% 40px;
//   display: flex;
//   flex-direction: column;
//   box-sizing: border-box;
//   /*overflow: hidden;*/
//   position: relative;
// }
// .one-third {
//   width: 29.33% !important;
//   margin: 0 2% 60px !important;
// }
// .shoes-shoper .shoe-servicec-list li h1 {
//   margin: 50px 0 15px;
// }
// .shoes-shoper .shoe-servicec-list li p {
//   overflow: hidden;
//   font-size: 14px;
// }
// .shoes-shoper .shoe-servicec-list li p a {
//   font-weight: bold;
//   display: inline-block;
//   color: #fe4960;
//   overflow: hidden;
//   margin: 5px 0 0 0;
//   font-size: 13px;
//   line-height: 16px;
// }
// .shoes-shoper .shoe-servicec-list li p a .fa {
//   float: left;
//   margin: 2.2px 0px 0 0;
//   display: inline-block;
// }
// .shoes-shoper .shoe-servicec-list li p img {
//   float: left;
//   margin: 0 15px 10px 0;
//   object-fit: cover;
//   height: 240px;
// }
// .shoes-shoper .shoe-servicec-list li p.img-right img {
//   float: right;
//   margin: 0 0 10px 15px;
// }
// .special-text {
//   position: absolute;
//   background: rgba(0,0,0,0.90);
//   border-radius: 10px;
//   box-shadow: 0 0 10px -6px #000;
//   right: 5px;
//   bottom: -80px;
//   color: #fff;
//   width: 170px;
//   padding: 10px 10px 3px;
//   box-sizing: border-box;
//   text-align: right;
// }
// .one-third .special-text {
//   width: 80% !important;
//   bottom: -46px !important;
//   right: 10%;
// }
// .special-text h3, .shoes-shoper .shoe-servicec-list li p span {
//   margin: 0 0 6px;
//   text-transform: uppercase;
//   display: block;
//   font-weight: bold;
//   font-size: 17px;
// }
// .shoes-shoper .shoe-servicec-list li p .fa {
//   width: 20px;
//   margin: 8px 0;
//   text-align: center;
// }
// .special-text-white {
//   bottom: auto;
//   top: -50px;
//   color: #000;
//   box-shadow: 0 0 10px -5px #000;
//   background: rgba(255,255,255,1);
// }
// .special-text p {
//   margin-bottom: 5px !important;
//   font-size: 11px !important;
// }
// .center-text {
//   padding: 20px 0 60px;
//   text-align: center;
// }
// .center-text h4 {
//   max-width: 680px;
//   margin: 0 auto;
//   line-height: 26px;
//   font-weight: bold;
//   letter-spacing: 0.5px;
//   text-align: center;
// }
// .justify-content-end {
//   justify-content: flex-end;
// }
// /* Responsive ============================*/
// @media screen and (max-width: 991px){
// .center-text {
//   padding: 20px 0;
//   text-align: justify;
// }
// .center-text h4 {
//   font-size: 16px;
//   font-weight: normal;
//   line-height: 22px;
// }
// .shoes-shoper .shoe-servicec-list {
//   margin: 0;
// }
// .shoes-shoper .shoe-servicec-list li, .one-third {
//   width: 96% !important;
//   margin: 0 2% 25px !important;
// }
// .one-third {
//   margin: 0 2% 25px !important;
// }
// .h3-base-heading {
//   justify-content: center;
// }
// .shoes-shoper .shoe-servicec-list li figure {
//   width: 500px;
//   margin: 0 auto;
// }
// .special-text {
//   position: static;
//   max-width: 450px;
//   width: calc(100% - 40px);
//   margin: -30px auto 0;
//   text-align: center;
// }
// .shoes-shoper .shoe-servicec-list li p {
//   max-width: 500px;
//   margin: 0 auto;
//   text-align: center;
// }
// .shoes-shoper .shoe-servicec-list li p img {
//   max-width: 500px;
//   width: 100%;
//   margin: 0 0 15px 0;
// }
// }
// @media screen and (max-width: 550px){
// .shoes-shoper .shoe-servicec-list li figure {
//   width: 100%;
// }
// }

// .big-banner {
// 	display: flex;
// 	align-items: center;
// 	height: 100vh;
// 	box-sizing: border-box;
// 	padding-top: 100px;
// }
// .big-banner .col-md-6 {
// 	text-transform: uppercase;
// }
// .big-banner .col-md-6 h1 {
// 	font-weight: bold;
// 	margin: 0 0 3px;
// 	font-size: 45px;
// }
// .big-banner .col-md-6 h4 {
// 	font-size: 22px;
// 	font-family: 'Comfortaa', cursive;
// }
// .big-banner .col-md-6 p {
//   margin: 5px 0 18px;
//   font-size: 12px;
//   font-family: 'Comfortaa', cursive;
//   letter-spacing: 0.5px;
//   color: #000;
//   font-weight: bold;
// }
// .big-banner .col-md-6 a {
// 	display: inline-block;
// 	padding: 7px 10px 6px;
// 	border: 1px solid #000;
// 	background: #000;
// 	color: #fff;
// 	font-size: 10px;
//   font-family: 'Comfortaa', cursive;
//   letter-spacing: 0.5px;
// }
// .custom-services {
// 	margin: 0 0 50px;
// }
// .custom-services .col-md-4 a {
// 	box-shadow: 0 0 10px -9px #666;
// 	display: block;
// }
// .custom-services .col-md-4 a:hover {
// 	box-shadow: 0 0 10px -7px #666;
// }
// .custom-services .col-md-4 figure img, .custom-services .col-md-3 figure img {
// 	transition: all 1s;
// }
// .custom-services .col-md-4 a:hover figure img, .custom-services .col-md-3 a:hover figure img, .custom-services .col-md-3:hover figure img {
// 	transform: scale(1.2);
// }
// .custom-services .col-md-3 {
// 	text-align: center;
// }
// .custom-services .col-md-3 a {
// 	display: inline-block;
// 	margin: 12px 0;
// 	font-family: auto;
// 	color: #000;
// }
// .custom-services .col-md-3 a:hover {
// 	text-decoration: underline;
// }
// .custom-services .col-md-3 p {
// 	font-weight: bold;
// 	color: #000;
// 	text-transform: uppercase;
// 	display: flex;
// 	align-items: flex-start;
// 	justify-content: center;
// }
// .custom-services .col-md-3 p img {
// 	margin: 0 6px 0 0;
// 	width: 20px;
// }
// .custom-services .col-md-3 iframe {
// 	width: 100%;
// 	border: none;
// 	height: 180px;
// 	background: #000;
// }
// .see-more {
// 	border: 1px solid #000;
// 	padding: 10px 15px;
// 	color: #000;
// 	text-transform: uppercase;
// 	display: inline-block;
// 	margin: 30px 0 0 0;
// 	font-size: 20px;
// }
// .see-more:hover {
// 	background: #000;
// 	color: #fff;
// }
// .bg-image-text {
// 	background: url('../../../../assets/images/bg_text.jpg') no-repeat scroll top center / cover;
// 	padding: 50px 20px;
// 	color: #fff;
// 	font-weight: bold;
// 	font-family: auto;
// }
// .bg-image-text h1 {
// 	font-size: 45px;
// }
// .bg-image-text h2 {
// 	margin: 20px 0;
// 	font-size: 32px;
// }
// .bg-image-text h3 {
// 	margin: 5px 0;
// 	font-size: 26px;
// }
// .hash-tag {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 50px 20px;
// 	height: 400px;
// 	margin: 0 0 40px;
//   font-family: 'Comfortaa', cursive;
//   text-transform: uppercase;
//   /*background: #242420;*/
//   background: url('../../../../assets/images/hash-tag.jpg') no-repeat scroll center center / cover;
// }
// .hash-tag span {
// 	display: inline-block;
// 	padding: 15px 5px 5px;
// 	color: #fff;
// 	background: #000;
// 	font-size: 90px;
// 	line-height: 90px;
// }



.big-banner {
	display: flex;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	padding-top: 100px;
}
.big-banner .col-md-6 {
	text-transform: uppercase;
}
.big-banner .col-md-6 h1 {
	font-weight: bold;
	margin: 0 0 3px;
	font-size: 45px;
}
.big-banner .col-md-6 h4 {
	font-size: 22px;
	font-family: 'Comfortaa', cursive;
}
.big-banner .col-md-6 p {
  margin: 5px 0 18px;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.5px;
  color: #000;
  font-weight: bold;
}
.big-banner .col-md-6 a {
	display: inline-block;
	padding: 7px 10px 6px;
	border: 1px solid #000;
	background: #000;
	color: #fff;
	font-size: 10px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.5px;
}
.custom-services {
	margin: 0 0 50px;
}
.custom-services .col-md-4 a {
	box-shadow: 0 0 10px -9px #666;
	display: block;
}
.custom-services .col-md-4 a:hover {
	box-shadow: 0 0 10px -7px #666;
}
.custom-services .col-md-4 figure img, .custom-services .col-md-3 figure img {
	transition: all 1s;
	object-fit: contain;
    width: 100%;
    height: 240px;
}
.custom-services .col-md-4 a:hover figure img, .custom-services .col-md-3 a:hover figure img, .custom-services .col-md-3:hover figure img {
	transform: scale(1.2);
}
.custom-services .col-md-3, .custom-services .col-md-2 {
	text-align: center;
}
.custom-services .col-md-3 a, .custom-services .col-md-2 a {
	display: inline-block;
	margin: 12px 0;
	font-family: auto;
	color: #000;
}
.custom-services .col-md-3 a:hover, .custom-services .col-md-2 a:hover {
	text-decoration: underline;
}
.custom-services .col-md-3 p, .custom-services .col-md-2 p {
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.custom-services .col-md-3 p img, .custom-services .col-md-2 p img {
	margin: 0 6px 0 0;
	width: 20px;
}
.custom-services .col-md-3 iframe {
	width: 100%;
	border: none;
	height: 180px;
	background: #000;
}
.see-more {
	border: 1px solid #000;
	padding: 10px 15px;
	color: #000;
	text-transform: uppercase;
	display: inline-block;
	margin: 30px 0 0 0;
	font-size: 20px;
}
.see-more:hover {
	background: #000;
	color: #fff;
}
.bg-image-text {
	background: url('../../../../assets/images/bg_text.jpg') no-repeat scroll top center / cover;
	padding: 50px 20px;
	color: #fff;
	font-weight: bold;
	font-family: auto;
}
.bg-image-text h1 {
	font-size: 45px;
}
.bg-image-text h2 {
	margin: 20px 0;
	font-size: 32px;
}
.bg-image-text h3 {
	margin: 5px 0;
	font-size: 26px;
}
.hash-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 20px;
	height: 400px;
	margin: 0 0 40px;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  /*background: #242420;*/
  background: url('../../../../assets/images/hash-tag.jpg') no-repeat scroll center center / cover;
}
.hash-tag span {
	display: inline-block;
	padding: 15px 5px 5px;
	color: #fff;
	background: #000;
	font-size: 90px;
	line-height: 90px;
}
.brand-name-loaction a {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	color: #242020;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 0 !important;
}
.custom-services.custom-services-providers .col-md-2 figure img {
	border-radius: 50%;
}