<!-- <main>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../../../../assets//jordanshoes00.jpg" alt="alt">
					</div>
					<div class="carousel-item">
						<img src="../../../../assets/images/jordanshoes02.jpg" alt="alt">
					</div>
					<div class="carousel-item">
						<img src="../../../../assets/images/jordanshoes03.jpg" alt="alt">
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
	<div id="main">
		<div class="shoes-shoper">
			<div class="center-text"><h4>FIXMYKIX is an online mobile marketplace for shoe restoration and shoe art.<br>In a world stunned by fast fashion its time to start interacting with alternatives to throwing shoes in our landfills.</h4></div>
			<h2 class="h2-base-heading">
				<p><img src="../../../../assets/images/icons/icon_shoe.png"> REQUEST OF SERVICE</p>
				<a class="wp-block-button__link has-text-color has-background-color has-background has-foreground-dark-background-color" href="https://forms.gle/FDn2mVtWjjrivXx6A" target="_blank" rel="noreferrer noopener">SERVICE REQUEST FORM</a>
			</h2>
			<ul class="shoe-servicec-list">
				<li>
					<h3 class="h3-base-heading"><img src="../../../../assets/images/icons/icon_service.png" width="34px"> Deep Cleaning</h3>
					<figure><img src="../../../../assets/images/img_service01.jpg" width="100%"></figure>
					<div class="special-text">
						<h3>dizzzykicks</h3>
						<p>Sneaker Customs|Restorations<br>It’s Dizzzy, with 3 Z’s<br>Sneaker CreativeM<br>Bayarea (SF) Native<br>Email and DMs open, so slide (professionally)<br><a href="https://www.instagram.com/dizzzykicks/"><i class="fa fa-instagram"></i> @dizzzykicks</a></p>
					</div>
				</li>
				<li>
					<h3 class="h3-base-heading mt-80"><img src="../../../../assets/images/icons/icon_service.png" width="34px">Pokemon Customs</h3>
					<p><img src="../../../../assets/images/img_service02.jpg" width="300px"><span>anbu_customs</span>@2_talll<br>Bay Area, CA<br>I do more than just shoes<br>DM me for any inquiries or customs</p>
				</li>
				<li>
					<h3 class="h3-base-heading mt-80 justify-content-end">Basic/Spot Cleaning <img style="margin: 0 0 0 6px;" src="../../../../assets/images/icons/icon_service.png" width="34px"></h3>
					<p class="img-right text-right"><img src="../../../../assets/images/img_service04.jpg" width="300px"> Understanding a spot is key to successfully removing it. Knowing what caused the spot and getting to it quickly can help immensely in getting it out.<br><br>Most spots are caused by a spill of some kind, tracking soils in from somewhere (usually outside), or from an accident (like vomiting).</p>
					<p class="img-right text-right">Following these recommended steps will help get spots out, even if you don't know what caused the spot in the first place</p>
				</li>
				<li>
					<h3 class="h3-base-heading"><img src="../../../../assets/images/icons/icon_service.png" width="34px"> De-Oxidation</h3>
					<figure><img src="../../../../assets/images/img_service03.jpg"></figure>
					<div class="special-text special-text-white">
						<h3>prstg_shop</h3>
						<p>EST2013<br>1201 Lincoln Ave Alameda CA<br>510-227-5386<br>Teamprstg@gmail.com<br>Tuesday-Friday 12-3pm<br>CLOSED Sat - Mon<br>Buy<br>/Sell/Trade/Resto<br><a href="https://www.instagram.com/prstg_shop/"><i class="fa fa-instagram"></i>  @prstg_shop</a><br><a style="margin-top: 0;" href="http://www.prstgshop.com/"><i class="fa fa-globe"></i> www.prstgshop.com</a></p>
					</div>
				</li>
				<li class="one-third">
					<h3 class="h3-base-heading"><img src="../../../../assets/images/icons/icon_service.png" width="34px"> Reglue</h3>
					<figure><img src="../../../../assets/images/img_service05.jpg"></figure>
					<div class="special-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</li>
				<li class="one-third">
					<h3 class="h3-base-heading"><img src="../../../../assets/images/icons/icon_service.png" width="34px"> Repaint</h3>
					<figure><img src="../../../../assets/images/img_service06.jpg"></figure>
					<div class="special-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</li>
				<li class="one-third">
					<h3 class="h3-base-heading"><img src="../../../../assets/images/icons/icon_service.png" width="34px"> Shoe Art</h3>
					<figure><img src="../../../../assets/images/img_service07.jpg"></figure>
					<div class="special-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</main> -->


<!-- 
<main>
	<div id="main">
		<div class="row big-banner">
			<div class="col-md-6">
				<img src="../../../../assets/images/banner-shoe.jpg" alt="images">
				<p class="text-center text-transform">by: NIKOSWOOSH</p>
			</div>
			<div class="col-md-6 text-center">
				<h1>CREATE JUST FOT YOU</h1>
				<h4>YOUR FLAVEOR-YOUR SWAG</h4>
				<p>CUSTOMSNEAKERS BY INDEOENDENT ARTISTS</p>
				<a href="javascript:void(0)">SHOP CUSTOMS</a>
			</div>
		</div>
		<div class="custom-services">
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading">Custom Artwork Services</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork01.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork02.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork03.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading">Repair & Restoration Services</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair01.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair02.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair03.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<div class="bg-image-text">
						<h1>cobbler <span>noun</span></h1>
						<h2>cob-bler l \ 'ka bler</h2>
						<h3>1 : amender or maker of shoes and afion of other  leather goods</h3>
						<h3>2 arachaic : a clumsy workman</h3>
						<h3>3 : a tall iced drink consisting usually of wine, rum, or whisky and sugar garnished with mint or a slice of lemon or ornage</h3>
						<h3>4 : a deep-dish fruit dessert with a thick top crust</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">Repair & Restoration Services</h2>
				</div>
				<div class="col-md-3" (click)="explore_artists()">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art01.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">born_originals</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> BERLIN, GERMANY</p>
					</div>
				</div>
				<div class="col-md-3" (click)="explore_artists()">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art02.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">sneakeaze</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> provence-alpes-cote d'azur france</p>
					</div>
				</div>
				<div class="col-md-3" (click)="explore_artists()">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art03.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">tony</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> hamerkaz, israel</p>
					</div>
				</div>
				<div class="col-md-3" (click)="explore_artists()">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art03.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">kustomb</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> california, nmited states</p>
					</div>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">behind the scenes</h2>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/ViQH9A9SWOA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/nJ2TNbnF-ZE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/pD1tK-TigS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/YRFRfoLFT-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-12">
					<a href="" class="see-more">see more of "the work"</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">latest articles</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art01.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">netflix and skill - <span>btbro mahn</span></h3>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art02.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">love your shoes - <span>by my gosh</span></h3>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art03.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">i didn't have to kill fido afterall - <span>by jamie lee</span></h3>
					</a>
				</div>
				<div class="col-md-12">
					<a href="" class="see-more">see more of "the work"</a>
				</div>
			</div>
		</div>
		<div class="hash-tag"><span># FIXMYKIX</span></div>
	</div>
</main> -->


<main>
	<div id="main">
		<div class="row big-banner">
			<div class="col-md-6">
				<img src="../../../../assets/images/banner-shoe.jpg" alt="images">
				<p class="text-center text-transform">by: NIKOSWOOSH</p>
			</div>
			<div class="col-md-6 text-center">
				<h1>CREATE JUST FOT YOU</h1>
				<h4>YOUR FLAVOR-YOUR SWAG</h4>
				<p>CUSTOMSNEAKERS BY INDEOENDENT ARTISTS</p>
				<a href="javascript:void(0)">SHOP CUSTOMS</a>
			</div>
		</div>
		<div class="custom-services">
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading">Custom Artwork Services</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork01.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork02.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/artwork03.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading">Repair & Restoration Services</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair01.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair02.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/service_repair03.jpg" alt="img" width="100%"></figure>
					</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<div class="bg-image-text">
						<h1>cobbler <span>noun</span></h1>
						<h2>cob-bler l \ 'ka bler</h2>
						<h3>1 : amender or maker of shoes and afion of other  leather goods</h3>
						<h3>2 arachaic : a clumsy workman</h3>
						<h3>3 : a tall iced drink consisting usually of wine, rum, or whisky and sugar garnished with mint or a slice of lemon or ornage</h3>
						<h3>4 : a deep-dish fruit dessert with a thick top crust</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">Repair & Restoration Services</h2>
				</div>
				<div class="col-md-3">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art01.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">born_originals</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> BERLIN, GERMANY</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art02.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">sneakeaze</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> provence-alpes-cote d'azur france</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art03.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">tony</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> hamerkaz, israel</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/custom_art03.jpg" alt="img" width="100%"></figure>
						<a href="javascript:void:void(0)">kustomb</a>
						<p class="brand-name-loaction"><img src="../../../../assets/images/icon_location.png"> california, nmited states</p>
					</div>
				</div>
			</div>
		</div>
		<div class="custom-services custom-services-providers">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">Service Providers</h2>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">BERLIN, GERMANY</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">provence-alpes-cote d'azur france</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">hamerkaz, israel</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">california, nmited states</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">california, nmited states</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="outer-border">
						<figure><img src="../../../../assets/images/img_user.png" alt="img" width="100%"></figure>
						<p class="brand-name-loaction" style="margin: 12px 0 0 0;"><a href="javascript:void:void(0)">california, nmited states</a></p>
						<div class="star-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">behind the scenes</h2>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/ViQH9A9SWOA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/nJ2TNbnF-ZE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/pD1tK-TigS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-3">
					<iframe src="https://www.youtube.com/embed/YRFRfoLFT-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-12">
					<a href="" class="see-more">see more of "the work"</a>
				</div>
			</div>
		</div>
		<div class="custom-services">	
			<div class="row">
				<div class="col-md-12">
					<h2 class="center-heading01">latest articles</h2>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art01.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">netflix and skill - <span>btbro mahn</span></h3>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art02.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">love your shoes - <span>by my gosh</span></h3>
					</a>
				</div>
				<div class="col-md-4">
					<a href="javascript:void:void(0)">
						<figure><img src="../../../../assets/images/latest_art03.jpg" alt="img" width="100%"></figure>
						<h3 class="heading-article">i didn't have to kill fido afterall - <span>by jamie lee</span></h3>
					</a>
				</div>
				<div class="col-md-12">
					<a href="" class="see-more">see more of "the work"</a>
				</div>
			</div>
		</div>
		<div class="hash-tag"><span># FIXMYKIX</span></div>
	</div>
</main>