
			<div class="cast-page">
                    <div class="about-bg">What is fixmtkix</div>
                </div>
                <div id="main">
                    <div class="shoes-shoper">
                        <div class="center-text-heading">TEAM BIOS</div>
                        <ul class="about-shoe-servicec-list">
                            <li>
                                <figure><img src="../../../../assets/images/img_user.png" alt="img"></figure>
                                <div class="about-shoe-text">
                                    <h2 class="h2-base-heading"><p>What Is Shoe Restoration?</p></h2>
                                    <p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <figure><img src="../../../../assets/images/img_user.png" alt="img"></figure>
                                <div class="about-shoe-text">
                                    <h2 class="h2-base-heading"><p>What is Shoe Art or Shoe Redesign?</p></h2>
                                    <p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li class="w-100">
                                <div class="about-shoe-text">
                                    <h2 class="h2-base-heading">
                                        <p>The Story of FixmyKix?</p>
                                    </h2>
                                    <p class="img-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>