.header-initial {
	background: rgba(0,0,0,0.8);
}
.about-bg {
	background: #000 url('../../../../assets/images/jordanshoesbanner.png') no-repeat fixed top -150px center / 100% ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	line-height: 36px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 150px 15px 50px;
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list {
	display: flex;
	flex-wrap: wrap;
}
.about-shoe-servicec-list li {
	width: 47%;
	margin: 0 1.5% 20px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	box-shadow: -0.5rem -0.5rem 0.9375rem #fff, 0.5rem 0.100rem 0.9375rem hsla(0,0%,69.4%,.6);
}
.about-shoe-servicec-list li figure {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	padding: 5px;
	border: 5px solid #fff;
	background: #fff;
	margin: 20px auto 30px;
	box-shadow: -0.5rem -0.5rem 0.9375rem #fff, 0.5rem 0.100rem 0.9375rem hsla(0,0%,69.4%,.6);
}
.about-shoe-servicec-list li figure img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.about-shoe-servicec-list li .about-shoe-text .h2-base-heading {
	margin: 0 0 12px;
}
/* Responsive ===================*/
@media screen and (max-width: 991px){
.about-shoe-servicec-list li {
    width: 100%;
    margin: 0 0 20px;
}
}