<!-- <footer>
  <div id="footer">
    <div class="inner-footer">
      <div class="footbox foot-box-01">
        <h3 class="logo">FIXMYKIX INC</h3>
        <p><i class="fa fa-map-marker"></i> 2934 TELEGRAPH AVE OAKLAND, CA, 94609</p>
        <p><i class="fa fa-globe"></i> JAMESG@FIXMYKIX.COM</p>
        <p><i class="fa fa-phone"></i> (510) 689-4282</p>
      </div>
      <div class="footbox foot-box-02">
        <h3 class="logo">Social links</h3>
        <ul>
          <li><a href="https://www.facebook.com/FixmyKixx/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/james-green-9a9243158" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/fixmykixx/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="footbox foot-box-03">
        <small>&copy; Copyright FIXMYKIX INC – All rights reserved</small>
      </div>
    </div>
  </div>
</footer> -->


<footer>
  <div id="footer">
    <div class="row inner-footer">
      <div class="col-md-3">
        <h2>our services</h2>
        <ul>
          <li><a href="#">Women's Shoes/Boots</a></li>
          <li><a href="#">Men's Shoes/Boots</a></li>
          <li><a href="#">Handbags</a></li>
          <li><a href="#">Wallets</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Garments</a></li>
        </ul>
        <div class="text-center"><a href="#" class="order-a-repair">order a repair</a></div>
      </div>
      <div class="col-md-3">
        <h2>Company Links</h2>
        <ul>
          <li><a href="#">about</a></li>
          <li><a href="#">news & press</a></li>
          <li><a href="#">testimonials</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">tearms of use</a></li>
          <li><a href="#">repair policies</a></li>
          <li><a href="#">refund policy</a></li>
          <li><a href="#">sitemap</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>My Account</h2>
        <ul>
          <li><a href="#">MY account</a></li>
          <li><a href="#">Corporate amount</a></li>
          <li><a href="#">customer service</a></li>
          <li><a href="#">order a repair</a></li>
          <li><a href="#">how it works</a></li>
          <li><a href="#">cart</a></li>
          <li><a href="#">log in</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>connect</h2>
        <ul>
          <li><a href="javascript:void(0)"><i class="fa fa-map-marker" style="color: #e8b13d; font-size: 26px;"></i><br>2934 TELEGRAPH AVE OAKLAND, CA, 94609</a></li>
          <li><a href="tel:5106894282"><i class="fa fa-phone" style="color: #e8b13d; font-size: 26px;"></i><br>510-689-4282</a></li>
          <li><a href="mainto:jamesg@fixmykix.com"><i class="fa fa-envelope" style="color: #e8b13d; font-size: 26px;"></i><br>JAMESG@FIXMYKIX.COM</a></li>
        </ul>
        <ul class="social-icons">
          <li><a href="#"><img src="../../assets/images/facebook.png" alt="img"></a></li>
          <li><a href="#"><img src="../../assets/images/instagram.png" alt="img"></a></li>
          <li><a href="#"><img src="../../assets/images/twitter.png" alt="img"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright FIXMYKIX INC – All rights reserved</div>
</footer>