// #footer {
//   background: #000 url('../../assets/images/jordanshoes14.jpg') no-repeat scroll right 0;
//   padding: 20px 100px 0px;
//   color: #fff;
// }
// .inner-footer {
//   display: flex;
//   flex-wrap: wrap;
// }
// .footbox {
//   padding: 20px;
//   border-radius: 10px;
//   width: 40%;
//   margin: 0 3.33% 25px;
// }
// .footbox h3 {
//   margin: 0 0 15px;
// }
// .footbox p {
//   margin: 0 0 10px;
// }
// .foot-box-01 p .fa {
//   display: inline-block;
//   width: 20px;
//   text-align: center;
// }
// .foot-box-03 {
//   width: 100%;
//   margin-bottom: 0;
// }
// /* Responsive ======================*/
// @media screen and (max-width: 991px){
// #footer {
//   padding: 15px;
// }
// .footbox {
//   padding: 20px 0 10px;
//   width: 100%;
//   margin: 0;
// }
// .footbox h3 {
//   font-size: 20px;
//   line-height: 22px;
//   margin: 0 0 10px;
// }
// }
// @media screen and (max-width: 550px){
// #footer {
//   padding: 15px 15px 0;
// }
// .footbox ul {
//   justify-content: center;
// }
// .footbox {
//   padding: 15px;
//   width: 100%;
//   margin: 0 0 15px;
//   background: rgba(0,0,0,0.86);
//   border: 1px solid rgba(255,255,255,0.12);
//   box-shadow: 0 2px 10px -8px #fff;
//   text-align: center;
// }
// }

// footer {
// 	background: #515256;
// }
// #footer {
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	padding: 20px 0 40px;
// }
// .inner-footer {
// 	margin: 0;
// }
// .inner-footer .col-md-3 h2 {
//   text-transform: uppercase;
//   font-family: 'Comfortaa', cursive;
//   letter-spacing: -2px;
//   text-align: center;
//   color: #fff;
//   padding: 0 10px 10px;
//   border-bottom: 1px solid #fff;
//   font-weight: normal;
// }
// .inner-footer .col-md-3 ul {
// 	margin: 20px 0 0 0;
// 	text-align: center;
// }
// .inner-footer .col-md-3 ul li a {
// 	text-transform: capitalize;
//   text-transform: uppercase;
//   font-family: 'Comfortaa', cursive;
//   letter-spacing: -1px;
//   font-size: 20px;
//   color: #fff;
//   margin: 0 0 15px;
// }
// .order-a-repair {
// 	background: #e8b13d;
// 	color: #000;
//   font-family: 'Comfortaa', cursive;
//   text-transform: uppercase;
//   padding: 20px 25px 16px;
//   display: inline-block;
//   letter-spacing: 0.5px;
//   font-weight: bold;
//   font-size: 16px;
//   margin: 0 auto
// }
// .social-icons {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
// .social-icons li a {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	text-align: center;
// 	background: #e8b13d;
// 	margin: 0 10px !important;
// 	width: 40px;
// 	height: 40px;
// 	box-sizing: border-box;
// 	padding: 10px;
// }

// /* Responsive ======================*/
// @media screen and (max-width: 768px){
// #footer {
// 	padding-bottom: 20px;	
// }
// .inner-footer .col-md-3 h2 {
// 	font-size: 24px;
// 	border-top: 1px solid #fff;
//   padding: 10px;
// }
// .inner-footer .col-md-3 ul li a {
// 	font-size: 15px;
// 	margin: 0 0 10px;
// }
// .order-a-repair {
// 	padding: 14px 15px 10px;
// 	margin: 0 0 20px;
// }
// }

footer {
	background: #515256;
}
#footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0 40px;
}
.inner-footer {
	margin: 0;
}
.inner-footer .col-md-3 h2 {
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  letter-spacing: -2px;
  text-align: center;
  color: #fff;
  padding: 0 10px 10px;
  border-bottom: 1px solid #fff;
  font-weight: normal;
}
.inner-footer .col-md-3 ul {
	margin: 20px 0 0 0;
	text-align: center;
}
.inner-footer .col-md-3 ul li a {
	text-transform: capitalize;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  letter-spacing: -1px;
  font-size: 20px;
  color: #fff;
  margin: 0 0 15px;
}
.order-a-repair {
	background: #e8b13d;
	color: #000;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  padding: 20px 25px 16px;
  display: inline-block;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto
}
.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icons li a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #e8b13d;
	margin: 0 10px !important;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	padding: 10px;
}
.copyright {
	font-size: 12px;
	background: black;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
}
/* Responsive ======================*/
@media screen and (max-width: 768px){
#footer {
	padding-bottom: 20px;	
}
.inner-footer .col-md-3 h2 {
	font-size: 24px;
	border-top: 1px solid #fff;
  padding: 10px;
}
.inner-footer .col-md-3 ul li a {
	font-size: 15px;
	margin: 0 0 10px;
}
.order-a-repair {
	padding: 14px 15px 10px;
	margin: 0 0 20px;
}
}