<header>
	<div id="header">
		<div class="inner-header">
			<div class="inner-header-flex">
				<div class="logo">FIXMYKIX</div>
				<div class="navigation-menu">
					<ul class="pc-menu">
						<li><a href="/">home</a></li>
						<li *ngIf="role != 1"><a href="artist/explore">Explore</a></li>
						<li><a href="about-us">about fixmykix</a></li>
						<li *ngIf="isLoggedIn == false"><a href="login">Login</a></li>
						<li class="dropdown" *ngIf="isLoggedIn == true">
							<button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" *ngIf="role == '0'" href="javascript:void(0)" (click)="myRequest()"><i class="fa fa-list"></i> My Reqeust</a>
							  <a class="dropdown-item" href="javascript:void(0)" (click)="profileRoute()"><i class="fa fa-user"></i> Profile</a>
							  <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
							</div>
						  </li>
					</ul>
					<p class="menu-open"><a href="javascript:void(0)">MENU</a></p>
				</div>
			</div>
		</div>
	</div>
</header>



<!-- <header>
	<div id="header">
		<div class="inner-header">
			<div class="header-top">
				<div class="logo-bar">
					<p class="custom-movement">THE CUSTOM MOVEMENT</p>
					<a href="javascript:void(0)" class="fmk-logo">FIXMYKIX</a>
				</div>
				<div class="top-menu">
					<ul class="top-menu-list">
						<li class="dropdown">
							<a href="javascript:void(0)" class="nav-links dropdown-toggle" data-toggle="dropdown">SHOP <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:void(0)">SHOP 01</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="javascript:void(0)" class="nav-links dropdown-toggle" data-toggle="dropdown">COLLECTIONS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:void(0)">COLLECTIONS 01</a></li>
							</ul>
						</li>
						<li><a class="nav-links" href="/">FAVOURITES</a></li>
						<li><a class="nav-links" href="artist/explore">EXPLORE</a></li>
						<li *ngIf="isLoggedIn == false"><a class="nav-links" href="login">LOGIN / SIGNUP</a></li>
						
						<li class="dropdown" *ngIf="isLoggedIn == true">
							<button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" *ngIf="role == '0'" href="javascript:void(0)" (click)="myRequest()"><i class="fa fa-list"></i> My Reqeust</a>
							  <a class="dropdown-item" href="javascript:void(0)" (click)="profileRoute()"><i class="fa fa-user"></i> Profile</a>
							  <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
							</div>
						  </li>
						<li class="dropdown">
							<a class="nav-links dropdown-toggle search-menu" href="javascript:void(0)" data-toggle="dropdown"><img src="../../assets/images/icon_search.png"></a>
							<ul class="dropdown-menu search-input">
								<li><input type="search" name="search" placeholder="Search"></li>
							</ul>
						</li>
					</ul>
				</div>
				<p class="bar-menu"><a href="javascript:void(0)"><img src="images/icon_menu.png"></a></p>
			</div>
		</div>
	</div>
</header> -->