.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-header-flex {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 80px;
  transition: all 0.8s;
  background: rgba(255,255,255,0.7);
}
.darkHeader {
  background: #fff !important;
  padding: 6px 80px;
  box-shadow: 0 2px 6px -4px #000;
  border-bottom: 1px solid #eaeaea;
}
.logo {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
}
.navigation-menu ul.pc-menu, .footbox ul {
  display: flex;
  align-items: center;
}
.navigation-menu ul.pc-menu li {
  position: relative;
}
.navigation-menu ul.pc-menu li+li, .footbox ul li+li {
  margin: 0 0 0 25px;
}
.navigation-menu ul.pc-menu li a, .footbox ul li a {
  color: #000;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
.navigation-menu ul.pc-menu li a:hover, .footbox ul li a :hover {
  border-bottom: 2px solid #fff;
}

#dropdownMenuButton {
  background: none;
  padding: 0 6px;
  color: #000;
  border-radius: 0;
  border: none;
  font-size: 20px;
}
.dropdown-menu {
	min-width: 143px;
    padding: 0;
    left: auto !IMPORTANT;
    right: -50px;
    border-radius: 0;
    margin: 0;
}
.dropdown-menu a {
  display: block;
  color: #000 !important;
  margin: 0;
  padding: 7px 10px !important;
  font-size: 13px !important;
  border-bottom: 1px solid #eaeaea !important;
  // text-align: center;
  transition: all 0.3s;
}
.typed_wrap {
  padding: 0 25px;
  text-align: center;
  max-width: 991px;
}
.shoes-tag {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: none;
  border-radius: 10px;
  font-size: 24px;
  line-height: 32px;
}
.shoes-tag span {
  line-height: 32px;
  display: inline-block;
}
.typed_wrap h1 {
  display: inline;
}
.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.typed-cursor{
   opacity: 0;
  display: none;
}
.open>.dropdown-menu {
  display: block;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.carousel-inner .item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.menu-open {
  display: none;
}
/* Responsive ====================*/
@media screen and (max-width: 991px) {
.inner-header-flex {
  padding: 9px 15px 12px;
  background: rgba(0,0,0,1)
}
.menu-open {
  display: block;
}
.menu-open a {
  display: block;
  color: #000;
  padding: 1px 6px;
  border-radius: 1px;
  background: #fff;
}
.navigation-menu ul.pc-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #fff;
  border-top: 1px solid rgba(255,255,255,0.02);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  flex-direction: column;
}
.navigation-menu ul.pc-menu li {
  width: 100%;
}
.navigation-menu ul.pc-menu li+li {
  margin: 0;
  border-top: 1px solid rgba(0,0,0,0.07);
}
.navigation-menu ul.pc-menu li a {
  display: block;
  color: #000;
  padding: 7px 15px;
  transition: all 0.5s;
}
.navigation-menu ul.pc-menu li a:hover {
  background: #000;
  color: #fff;
  padding: 7px 15px 7px 25px;
} 
.hover-dropdown {
  position: static;
  background: none;
  border-radius: 0;
  width: 100%;
}
.hover-dropdown li a {
  padding: 5px 10px 5px 25px !important;
  display: block;
  text-align: left;
}
}


// header {
// 	background: #fff;
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	z-index: 9;
// 	padding: 0 0 10px;
// }
// .fixed-header {
// 	box-shadow: 0 0 10px -6px #000;
// 	padding: 10px 0;
// }
// #header {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
//   box-sizing: border-box;
// }
// .header-top {
// 	display: flex;
// 	align-items: flex-start;
// 	justify-content: space-between;
// 	transition: all 0.5s;
// }
// .fixed-header .header-top {
// 	align-items: center;
// }
// .custom-movement {
// 	padding: 10px 0;
// 	transition: all 0.5s;
// }
// .custom-movement-hzero {
// 	height: 0;
// 	padding: 0;
// 	opacity: 0;
// }
// .top-menu {
// 	transition: all 0.2s;
// }
// .top-menu .top-menu-list {
// 	display: flex;
// 	align-items: center;
// }
// .top-menu .top-menu-list li a {
// 	padding: 10px 15px;
// 	line-height: 20px;
// 	color: #787878;
// 	text-transform: uppercase;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
// .top-menu .top-menu-list li a .caret {
// 	display: inline-block;
// 	margin: 0 0 0 10px;
// }
// .top-menu .top-menu-list li a:hover {
// 	color: #000;
// }
// .top-menu .top-menu-list li a img {
// 	width: 20px;
// }
// .top-menu .top-menu-list li.open a .caret {
// 	transform: rotate(180deg);
// }
// .top-menu .top-menu-list li ul {
// 	min-width: 140px;
// 	transition: all 0.3s;
// 	left: 50% !important;
// 	width: 100%;
// 	margin: 0 0 0 -70px;
// 	padding: 0;
// }
// .logo-bar a {
// 	font-family: 'Comfortaa', cursive;
// 	background: #000;
// 	color: #fff !important;
// 	font-size: 40px;
// 	padding: 8px 5px 4px;
// 	display: inline-block;
// 	line-height: 40px;
// 	transition: all 0.5s;
// }
// .logo-fixed {
//   font-size: 28px !important;
//   line-height: 28px !important;
// }
// .search-input {
// 	width: 250px !important;
//   padding: 6px 8px !important;
//   left: auto !important;
//   right: 0;
// }
// .search-input input {
// 	display: block;
// 	width: 100%;
// 	font-family: 'Comfortaa', cursive;
// 	border: 1px solid #eaeaea;
// 	height: 35px;
// 	border-radius: 5px;
// 	line-height: 35px;
// 	padding: 0 10px;
// 	font-size: 14px;
// 	font-weight: bold;
// }
// .bar-menu {
// 	display: none;
// }
// @media screen and (max-width: 991px){
// header {
// 	padding: 0;
// }
// .fixed-header {
// 	padding: 0;
// }
// #header {
// 	padding: 0;
// 	border-bottom: 1px solid #eaeaae;
// }
// .header-top {
// 	align-items: center;
// }
// .custom-movement {
// 	display: none !important;
// }
// .bar-menu {
// 	display: block;
// }
// .bar-menu a {
//   padding: 3px;
//   line-height: 20px;
//   color: #787878;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 40px;
//   height: 40px;
//   margin: 0 12px 0 0;
// }
// .bar-menu a img {
// 	width: 100%;
// }
// .top-menu {
// 	display: none;
// 	position: absolute;
// 	left: 0;
// 	top: calc(100% - 1px);
// 	z-index: 9;
// 	background: #fff;
// 	width: 100%;
// }
// .top-menu .top-menu-list {
// 	flex-direction: column;
// 	border-top: 2px solid #eaeaea;
// }
// .top-menu .top-menu-list li {
// 	width: 100%;
// }
// .top-menu .top-menu-list li a {
// 	justify-content: space-between;
// }
// .top-menu .top-menu-list li ul {
// 	position: static;
//   margin: 0;
//   min-width: 100%;
// }
// .search-menu {
// 	display: none !important;
// }
// }