.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.listing-outer {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
.full-listing-details {
	padding: 0;
	box-shadow: 0rem 0rem 0.9375rem hsla(0,0%,69.4%,.3), 0rem 0rem 0.9375rem hsla(0,0%,69.4%,.3);
	margin: 0 0 15px;
}
.full-listing-details h3 {
	background: #000;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}
.full-listing-details .form-group {
	padding: 10px 15px;
	border-radius: 4px;
	margin: 0;
}
.full-listing-details .form-group label {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	font-size: 15px;
}
.full-listing-details .form-group p {
	margin: 2px 0 6px;
	padding: 0 0 6px;
	color: gray;
}
.full-listing-details.col-md-5 .form-group p {
	border-bottom: 1px solid #eaeaea;
}
#myCarousel {
	margin: 0 0 15px;
}
.carousel-inner .item img {
	height: auto;
}
.remove-pr {
	padding-right: 0;
}
.continue-button {
    text-align: right;
}
.continue-button a {
    background: #000;
    color: #fff;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    border-radius: 0;
}
@media screen and (max-width: 991px){
.full-listing-details {
    padding: 0 15px;
    box-shadow: none;
    margin: 0;
    width: 100%;
}
.remove-pr {
    padding-right: 15px;
    width: 100%;
}
.continue-button a{
	display: block;
	width: 100%;
	text-align: center;
}
}