
			<div class="cast-page">
				<div class="about-bg"><span>Service Provider</span></div>
			</div>
			<div id="main">
				<div class="listing-outer row">
					<div class="col-md-5 full-listing-details">
						<h3>Service Provider Details</h3>
						<div class="form-group">
							<label>Service Provider name</label>
							<p>{{this.artist_details.first_name}}</p>
							<label>Service Provider Email</label>
							<p>	{{this.artist_details.email}}</p>
							<!-- <label>Price</label>
							<p>$<span>100000</span></p>
							<label>Listing Rating</label>
							<p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</p> -->
						</div>
					</div>
					<div class="col-md-7 remove-pr">
						<div id="demo" class="carousel slide" data-ride="carousel">
							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								<li data-target="#demo" data-slide-to="1"></li>
								<li data-target="#demo" data-slide-to="2"></li>
							</ul>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="../../../../assets/images/jordanshoes00.jpg" alt="Los Angeles" width="1100" height="500">
								</div>
								<div class="carousel-item">
									<img src="../../../../assets/images/jordanshoes02.jpg" alt="Chicago" width="1100" height="500">
								</div>
								<div class="carousel-item">
									<img src="../../../../assets/images/jordanshoes03.jpg" alt="New York" width="1100" height="500">
								</div>
							</div>
							<!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#demo" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a> -->
						</div>
					</div>
					<div class="col-md-12 full-listing-details remove-pr">
						<div class="form-group">
							<label>Description</label>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="col-md-12 full-listing-details remove-pr">
						<div class="form-group">
							<label>Services</label>
							<p *ngFor="let service of  artist_services; let i = index;">
								{{service.service_name}}
							</p>
						</div>
					</div>
					<div class="col-md-12 remove-pr continue-button">
						<!-- <a href="artist/service/request">SERVICE REQUEST</a> -->
						<a href="javascript:void(0)" (click)="Chat_request()">Chat</a>
						<a href="javascript:void(0)" (click)="Apply_Service_request()">SERVICE REQUEST</a>

					</div>
				</div>
			</div>