<button type="button" class="btn btn-info btn-lg" id="profile_btn" data-toggle="modal" data-target="#myModal" style="display :none">Profile Modal</button>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="login_form">
					<div class="login_form_set">
						<div class="login-logo"><h2>Profile</h2></div>
						<form name="profile" [formGroup]="formGroup" (ngSubmit)="UpdateUser()" autocomplete="off">
							<div class="form-group" [formGroup]="formGroup">
								<label>First Name</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="first_name" autocomplete="off">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Last Name</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="last_name">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Email</label>
								<input type="email" class="form-control" placeholder="" autocomplete="off" formControlName="email">
							</div>
							<div class="form-group formTag" [formGroup]="formGroup">
								<label>Mobile Number</label>
								<input type="text" class="number form-control" placeholder="" formControlName="mobile_number" required>
							</div>
							<div class="form-group formTag" [formGroup]="formGroup">
								<label>Age</label>
								<input type="number" class="number form-control" placeholder="" formControlName="age" required>
							</div>
							<div  class="form-group gender" [formGroup]="formGroup">
								<label class="w-100">Gender</label>
								<label class="gender-check" for="male"><input type="radio" id="male" formControlName="gender" value="male"> Male</label>
								<label class="gender-check" for="female"><input type="radio" id="female" formControlName="gender" value="female"> Female</label>
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Business Name</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="business_name">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Business Socials</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="business_socials">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>Address</label>
								<input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="address">
							</div>
							<div class="form-group" [formGroup]="formGroup">
								<label>visual proof of quality work</label>
								<input type="file" class="form-control" placeholder="" autocomplete="off" formControlName="proof_of_work">
							</div>
							<div class="description form-group form-group-100" [formGroup]="formGroup">
								<label>description of services</label>
								<textarea name="" class="form-control" formControlName="service_description" id="" cols="3"></textarea>
							</div>
							<div class="form-group login-button">
								<button type="button" data-dismiss="modal">Close</button>
								<button type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">
			</div> -->
		</div>
		
	</div>
</div>
<main>
	<div class="cast-page">
		<div class="about-bg"><span>Artist Profile</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<ul class="about-shoe-servicec-list">
				<li>
					<div class="about-shoe-text">
						<h2 class="h2-base-heading"><p>Profile Description</p></h2>
						<div class="profile-descrition">
							<figure class="view-browse-image">
								<img class="view-image" src="../../../../assets/../../../../assets/images/img_user.png" alt="img">
							</figure>
							<div class="profile-view">
								<div class="detailed-profile">
									<div class="form-group">
										<label>{{user.first_name}}</label>
										<p>Admin</p>
									</div>
									<div class="form-group">
										<label>Description of service</label>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
									<div class="form-group">
										<label>Description of service</label>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="profile-review">
									<p class="rating-stars">
										<span>Rating</span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
									</p>
									<div class="servicerequest">
										<a href="javascript:void(0)" (click)="Artist_Service_List()" >Services</a>
									</div>
									<div class="servicerequest">
										<a href="javascript:void(0)"  (click)="Artist_Service_request()">Service Request</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<ul>
						<li>
							<figure><img src="../../../../assets/images/img_aboutfix08.jpg"></figure>
							<div class="editupdatlinks">
								<a href="javascript:void(0)"><i class="fa fa-fire"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-comment"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-user"></i></a>
							</div>
						</li>
						<li>
							<figure><img src="../../../../assets/images/img_aboutfix08.jpg"></figure>
							<div class="editupdatlinks">
								<a href="javascript:void(0)"><i class="fa fa-fire"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-comment"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-user"></i></a>
							</div>
						</li>
						<li>
							<figure><img src="../../../../assets/images/img_aboutfix08.jpg"></figure>
							<div class="editupdatlinks">
								<a href="javascript:void(0)"><i class="fa fa-fire"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-comment"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-user"></i></a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</main>