.login_form {
    // background: url('../../../../assets/images/img_bg01.jpg') no-repeat scroll center center / cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // min-height: 100vh;
    // padding: 0px 15px;
    overflow-y: auto;
    position: relative;
  }
  .login-logo {
    text-align: center;
    margin: 0px 0 10px;
  }
  input[type="file"] {
    padding: 0;
    border: none;
    height: 32px;
    margin: 0;
  }
  .login-logo h2 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B3B54;
    text-align: center;
  }
  .login-logo h2 span {
    text-transform: uppercase;
  }
  .login_form_set {
    /*background: #fff;*/
    background: rgba(255,255,255,0.95);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    // padding: 0px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px -19px #000;
  }
  .login_form_set form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .login_form_set form {
    display: flex;
    flex-wrap: wrap;
  }
  .login_form_set form .form-group {
    width: 46%;
    margin: 0 2% 12px;
    position: relative;
  }
  .login_form_set form .form-group label {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
  }
  .login_form_set form .form-group input[type="text"],
  .login_form_set form .form-group input[type="email"],
  .login_form_set form .form-group input[type="number"] {
    height: 32px;
    line-height: 32px;
  }
  .login_form_set form .form-group input[type="file"] {
    margin: 4px 0 0 0;
  }
  .errmsg {
    position: absolute;
    color: red;
    left: 0;
    bottom: -18px;
    font-size: 11px;
    font-weight: bold;
    transition: all 3s;
  }
  .gender {
    display: flex;
    flex-wrap: wrap;
  }
  .gender .gender-check {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 15px;
    margin: 0 25px 0 0 !important;
  }
  .gender .gender-check input {
    margin: 0 5pX 0 0;
  }
  .login-button {
    width: 100% !important;
    text-align: right;
    padding: 0 2%;
    box-sizing: border-box;
    margin: 10px 0 0 0 !important;
  }
  .login_form_set form .form-group button {
    /*background: #008cff;*/
    background: #000;
    border-radius: 6px;
    color: #fff;
    border: none;
    width: 160px;
    height: 32px;
    line-height: 32px;
    margin: 0 10px 0 0;
  }
  .form-group-100 {
    width: 98% !important;
  }
  /* Responsive =================================================================*/
  @media screen and (max-width: 580px){
    .login_form {
      padding: 50px 35px;
    }
    .login_form_set, .login_form_set form .form-group button {
      width: 100%;
      background: rgba(255,255,255,0.75);
    }
    .login_form_set form {
      flex-direction: column;
    }
    .login_form_set form .form-group {
      width: 96%;
    }
    .gender .gender-check {
      margin: 6px 25px 0 0 !important;
    }
  }










  .header-initial {
    background: rgba(0,0,0,0.8);
  }
  #main {
    padding: 40px 15px;
  }
  .about-shoe-servicec-list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-shoe-servicec-list li {
    width: 100%;
    margin: 0 0 20px;
    padding: 15px 15px 0;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
  }
  .profile-descrition {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-shoe-servicec-list li .profile-descrition figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #fff;
    background: #fff;
    margin: 0 30px 20px 0;
    box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
  }
  .about-shoe-servicec-list li .profile-descrition figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .profile-view {
    width: calc(100% - 230px);
  }
  .profile-review {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 18px;
  }
  .rating-stars {
    display: flex;
    align-items: center;
  }
  .rating-stars span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px 0 0;
  }
  .rating-stars .fa {
    font-size: 20px;
    margin: 0 3px 0 0;
  }
  .servicerequest {
    background: #000;
    color: #fff;
    font-weight: normal;
    height: 30px;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    border: none;
    border-radius: 0;
  }
  .about-shoe-servicec-list li ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }
  .about-shoe-servicec-list li ul li {
    width: 31.33%;
    margin: 0 1% 15px;
  }
  .about-shoe-servicec-list li ul li figure {
    height: 165px;
  }
  .about-shoe-servicec-list li ul li figure img {
    width: 100%;
    height: 165px;
    object-fit: cover;
  }
  .editupdatlinks {
    margin: 10px 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .editupdatlinks a .fa {
    display: block;
    color: #000;
    font-size: 20px;
  }
  /* Responsive =========================*/
  @media screen and (max-width: 991px){
  .profile-descrition {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-view {
    width: 100%;
  }
  }
  @media screen and (max-width: 768px){
  .about-shoe-servicec-list li ul li {
      width: 48%;
  }
  }
  @media screen and (max-width: 640px){
  .about-shoe-servicec-list li ul li {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }
  }
  @media screen and (max-width: 480px){
  .profile-review {
    flex-direction: column;
  }
  .servicerequest {
    text-align: center;
    margin: 10px 0 0 0;
  }
  }