.header-initial {
	background: rgba(0,0,0,0.8);
}
.about-bg {
	background: #000 url('../../../../assets/images/jordanshoesbanner.png') no-repeat fixed top -150px center / 100% ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	line-height: 36px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 150px 15px 50px;
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list li {
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	box-shadow: -0.5rem -0.5rem 0.9375rem #fff, 0.5rem 0.100rem 0.9375rem hsla(0,0%,69.4%,.6);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.about-shoe-servicec-list li+li {
	margin: 20px 0 0 0;
}
.about-shoe-servicec-list li .about-shoe-text {
	width: calc(100% - 415px);
}
.about-shoe-servicec-list li .about-shoe-text .h2-base-heading, .about-shoe-servicec-list li .about-shoe-text .img-right {
	margin: 0 0 12px;
}
.about-shoe-servicec-list li .text-right a {
	display: inline-block;
	transition: all 0.5s;
  color: #fff;
  background: #000;
  padding: 4px 12px;
  border: 2px solid #000;
}
.about-shoe-servicec-list li .text-right a:hover {
	background: #fff;
	color: #000;
  padding: 4px 18px;
}
.about-shoe-servicec-list li figure {
	width: 415px;
	height: 250px;
	overflow: hidden;
	padding: 0 0 0 15px;
}
.about-shoe-servicec-list li figure img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 4px;
}
/* Responsive ===================*/
@media screen and (max-width: 991px){
	.about-shoe-servicec-list li {
		flex-direction: column;
	}
	.about-shoe-text {
		width: 100% !important;
		margin: 0 0 15px;
		text-align: center;
	}
	.about-shoe-text .text-right {
		text-align: center;
	}
	.about-shoe-servicec-list li figure {
		width: 100%;
		max-width: 400px;
		padding: 0;
		margin: 0 auto;
	}
}