
<div class="cast-page">
	<div class="about-bg">About fixmtkix</div>
</div>
<div id="main">
		<div class="shoes-shoper">
				<ul class="about-shoe-servicec-list">
						<li>
								<div class="about-shoe-text">
										<h2 class="h2-base-heading">
												<p><img src="../../../../assets/images/icons/icon_shoe.png"> What Is Shoe Restoration?</p>
										</h2>
										<p class="img-right">Shoe Restoration is the process of renewing a beat pair of shoes. Why is Shoe Restoration important? At a time when fast fashion is the leading contributor to landfill waste it’s our responsibility to ask how to extend the life cycle of these goods. Luckily, the answer exists: Restoration! Fixmykix’s mission is to create a platform that makes these services accessible globally.</p>
										<div class="text-right"><a href="shoe/restoration">Read More</a></div>
								</div>
								<figure><img src="../../../../assets/images/img_service08.jpg" alt="img"></figure>
						</li>
						<li>
								<div class="about-shoe-text">
										<h2 class="h2-base-heading">
												<p><img src="../../../../assets/images/icons/icon_shoe.png"> What is Shoe Art or Shoe Redesign?</p>
										</h2>
										<p class="img-right">Shoe Art here at Fixmykix is looked at as a creative form of restoring a new value into the shoe that was not there before. To use a unique innovative perspective to craft a new work of art from an existing shoe silhouette. Shoe art can be whatever you can envision. All you need to do is let us know what you want in a Service Request Form!</p>
										<div class="text-right"><a href="shoe/art">Read More</a></div>
								</div>
								<figure><img src="../../../../assets/images/img_service08.jpg" alt="img"></figure>
						</li>
						<li>
								<div class="about-shoe-text">
										<h2 class="h2-base-heading">
												<p><img src="../../../../assets/images/icons/icon_shoe.png"> What is FixmyKix?</p>
										</h2>
										<p class="img-right">FixmyKix is...</p>
										<div class="text-right"><a href="what/is/fixmykix">Read More</a></div>
								</div>
								<figure><img src="../../../../assets/images/img_service08.jpg" alt="img"></figure>
						</li>
				</ul>
		</div>
</div>