<main>
	<div class="cast-page">
		<div class="about-bg"><span>My Requests</span></div>
	</div>
	<div id="main">
		<div class="shoes-shoper">
			<ul class="about-shoe-servicec-list">
				<li *ngFor="let requests of  artist_services_Requests; let i = index;">
					<div class="about-shoe-text">
						<figure class="browse-image">
							<img class="view-image" src="../../../../assets/images/img_user.png" alt="img">
						</figure>
						<div class="information-form">
							<div class="form-group">
								<label>Artist</label>
								<p class="filled-value">{{requests.artist_info.first_name}}</p>
							</div>
							<div class="form-group w-100">
								<label>Description of what is needed done to shoe. What is wrong with the shoe?</label>
								<p class="filled-value">{{requests.description}}</p>
							</div>
							<div class="form-group w-100">
								<label>Upload clear images of shoe that need work</label>
								<div class="uploaded-image-viewer">
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
									<p><img src="../../../../assets/images/img_user.png"></p>
								</div>
							</div>
							<div class="continue-button">
								<button type="submit" class="cancel-button" *ngIf="requests.status == 'cancelled'" disabled>Cancelled</button>
								<button type="submit" class="cancel-button" *ngIf="requests.status == 'approved'"  (click)="payment_Request(requests)">Payment</button>
								<button type="submit" class="cancel-button" *ngIf="requests.status == 'rejected'" disabled>Rejected</button>
								<button type="submit" *ngIf="requests.status == 'pending'" (click)="Cancel_Request(requests)" >Cancel</button></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</main>