.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list {
	display: flex;
	flex-wrap: wrap;
}
.about-shoe-servicec-list li {
	width: 98%;
	margin: 0 1% 20px;
	padding: 15px 15px 0;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
}
.li-50 {
	width: 48% !important;
	margin: 0 1% 20px;
}
.about-shoe-servicec-list li figure {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	padding: 5px;
	border: 5px solid #fff;
	background: #fff;
	margin: 20px auto 30px;
	box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
}
.about-shoe-servicec-list li figure img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.about-shoe-servicec-list li .about-shoe-text .h2-base-heading {
	margin: 0 0 12px;
}
.information-form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1%;
}
.information-form .form-group {
	width: 48%;
	margin: 0 1% 15px;
}
.filled-value {
	background: rgba(0,0,0,0.05);
	border-radius: 5px;
	padding: 5px 10px;
	margin: 3px 0 0 -1px;
}
.browse-image {
	position: relative;
}
.browse-image input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
}
.flex-direction-column {
	flex-direction: column;
	width: 100%;
    justify-content: flex-start !important;
    align-items: flex-start !important;	
}
.flex-direction-column small {
	font-size: 13px;
	margin: 6px 0 0 0;
}
.continue-button {
	text-align: right;
	margin: 0 0 10px;
	width: 100%;
	padding: 0 1%;
}
.continue-button button {
	font-size: 16px;
    background: #000;
    color: #fff;
    font-weight: normal;
    height: 30px;
    line-height: 27px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    border: none;
    margin: 0 0 0 10px;
    border-radius: 0;
}
.uploaded-image-viewer {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1% 0;
}
.uploaded-image-viewer p {
	width: 100px;
	height: 100px;
	margin: 1%;
	box-shadow: 0 0 5px -3px #000;
}
.uploaded-image-viewer p img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.cancel-button {
	background:#e8dfdf !important;
	color:#000 !important
}
/* Responsive ===================*/
@media screen and (max-width: 991px){
.about-shoe-servicec-list li {
	width: 100%;
	margin: 0 0 20px;
}
.li-50 {
	width: 100% !important;
	margin: 0 0 20px;
}
.information-form .form-group {
	width: 48%;
	margin: 0 1% 15px;
}
.area-height textarea {
    height: auto !important;
}
.flex-direction-column {
	justify-content: center !important;
	align-items: center !important;
}
.uploaded-image-viewer p {
	width: 23%;
	height: auto;
}
}
@media screen and (max-width: 768px){
.uploaded-image-viewer p {
	width: 48%;
}
.uploaded-image-viewer p img {
	height: auto;
}
}
@media screen and (max-width: 640px){
.information-form .form-group {
	width: 100%;
	margin: 0 0 15px;
}
}
@media screen and (max-width: 480px){
.uploaded-image-viewer p {
	width: 98%;
	height: auto;
}

}