<div class="container-fluid container_contact">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <div class="contact_text ">Contact Us</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1  col-md-8 col-sm-6 col-xs-12 contact-address-container">
        <div class="address_title">FixMyKix</div>
        <div class="address">Address<br>
        </div>
        <div class="contact_email">
          <img class="svg_contact" src="/img/mail.svg">
          <a href="mailto:info@acasa.co">info@fixmykix.com</a> 
        </div>
        <div class="contact_mobile">
          <img class="svg_contact" src="/img/phone-call.svg">
          <a href="tel:+91 77982 - 68680">+91 12345 67890</a>
        </div>
        <!-- <div class="contact_mobile">
          <img class="svg_contact" src="/img/phone-call.svg">
          <a href="tel:+91 77982 - 68680">+91 77982 64640</a>
        </div>
        <div class="contact_mobile">
          <img class="svg_contact" src="/img/phone-call.svg">
          <a href="tel:+91 77982 - 68680">+91 77982 68680</a>
        </div> -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact-form-container">
        <div class="form_title">send us a message</div>
        <form name="ContactForm" [formGroup]="form">
          <div class="form-group">
            <input class="form-control" name="name" type="text" placeholder="Your Name" id="example-text-input">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Your Message" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div>
            <button class="btn btn-default contct_submit" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>