<main>
  <div class="cast-page">
    <div class="about-bg"><span>Payment Method</span></div>
  </div>
  <div id="main">
    <div class="shoes-shoper">
      <ul class="about-shoe-servicec-list">
        <li>
          <div class="about-shoe-text">
            <h2 class="h2-base-heading"><p>Payment Method Mode</p></h2>
            
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>