.header-initial {
	background: rgba(0,0,0,0.8);
}
#main {
  padding: 40px 15px;
}
.about-shoe-servicec-list {
	display: flex;
	flex-wrap: wrap;
}
.about-shoe-servicec-list li {
	width: 98%;
	margin: 0 1% 20px;
	padding: 15px 15px 0;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	box-shadow: -0.5rem -0.5rem 0.9375rem hsla(0,0%,69.4%,0.2), 0.5rem 0.1rem 0.9375rem hsla(0,0%,69.4%,.2)
}
.li-50 {
	width: 48% !important;
	margin: 0 1% 20px;
}