.banner_style {
	background-color: #05a4a4;
	height: 500px; 
	margin-bottom: 20px;
	background-image: url(/img/bgpattern.png);
}
.pad_none {
	padding-left: 0px;
	padding-right: 0px;
}
.about-banner-text {
	padding-top: 110px;
}
.quote{
	font-size: 40px;
	font-style: italic;
	font-weight: normal !important;
	color: white;
	/*line-height: 10px !important;*/
}
.quote-marks {
	color: #282828;
	font-size: 32px;
}
.about-strong {
	display: block;
	padding: 15px 0;
	color: #05a4a4;
	font-size: 30px;
	font-style: italic;
	text-align: center;
	font-weight: 300;
	line-height: 48px;
}
q {
  quotes: "“" "”" ;
  color: white;
  
}
q:before {
    content: open-quote;
    font-size: 40px;
    /*line-height: 2;*/
     line-height: 80%;
}
q:after {
    content: close-quote;
     font-size: 40px;
     /*line-height: 2;*/
      line-height: 80%;
}
.vision {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	/*border-bottom: 1px solid #bcbcbc;*/
}
.abt_title {
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 15px;
	text-transform: capitalize;
	font-weight: bold;
}
.text_abt p{
	text-align: justify;
	padding-bottom: 10px;
	line-height: 200%;
	font-size: 14px;
}
.text_abt>p{
	line-height: 170%;
}

@media screen and (max-width: 768px) {
	.about-banner-text {
		padding-top: 60px;
	}
}