.container_contact {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.contact-form-container {
	padding-bottom: 25px;	
}
.contact_text {
    font-size: 50px;
	padding-top: 50px;
}
.company_name {
	font-size: 28px;
	font-weight: bold;
	padding-top: 25px;
}

.address_title {
	font-size: 22px;
	font-weight: bold;
	padding-top: 20px;
}
.address {
	font-size: 16px;
	padding-top: 20px;
	text-transform: capitalize;
	font-weight: 500;
	padding-bottom: 40px;
	line-height: 170%;
}
.form_title {
	font-size: 19px;
	padding-top: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.contct_submit{
	 color: white !important;
	 background-color: #23b8b5 !important;
	 margin-bottom: 40px;

}
.contct_submit:hover{
	 color: white !important;
	 background-color: #106866 !important;
	 margin-bottom: 40px;
}
.contct_submit:active{
	 color: white !important;
	 background-color: #23b8b5 !important;
	 margin-bottom: 40px;
}
.form-group {
	margin-top: 15px;
	margin-bottom: 15px;
	/*border: 1px solid black;*/
}
.svg_contact {
	width: 20px;
}
.contact_email, 
.contact_mobile{
	margin-top: 10px;
}
.contact_email>a {
	color: black;
	font-size: 16px;
	font-weight: 500;
	margin-left: 15px;
}
.contact_email>a:hover {
	color: #23b8b5;
	font-size: 16px;
}
.contact_mobile>a {
	color: black;
	font-size: 16px;
	font-weight: 500;
	margin-left: 8px;
}
.contact_mobile>a:first-of-type {
	margin-left: 15px;
}
.contact_mobile>a:hover {
	color: #23b8b5;
	font-size: 16px;
}
.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
textarea {
	font-weight: 500;
}
.contact-form-container input[type="text"]:focus,
.contact-form-container input[type="email"]:focus,
textarea:focus {
	border-bottom: 2px #23b8b5 solid;
	font-weight: 500;
	outline: 0;
	background: none;
}

@media (max-width: 500px) {
	.container_contact {
		width: 80%;
		margin-left: auto;
	margin-right: auto;
	}
	.company_name {
		font-size: 23px;
	}
}
@media (min-width:500px) and (max-width: 1366px) {
	.container_contact {
		width: 80%;
		margin-left: auto;
	  margin-right: auto;
	}
}
@media screen and (max-width: 768px) {
	.contact-form-container {
		padding-top: 30px;
	}
}