.start-btn a:hover {
    color: #eee;
  }
    
    .acs-single-property-accomodation-title-room {
      text-align: right;
    }
  
    .acs-products-hero-image {
      // height: 234px;
      border-radius: 2px;
    }
  
    .acs-font-weight-four {
      font-weight: 400;
    }
    /*My Bookings*/
  
    .acs-booking-on-hold {
      color: orange;
    }
  
    .acs-booking-completed {
      color: green;
    }
  
    .acs-booking-cancelled {
      color: red;
    }
  
    .acs-booking-payment-pending {
      color: #12cbc6;
    }
  
    .acs-cancel-button {
      background-color: #e0e0e0;
      display: inline-block;
      margin: 1px 0;
      padding: 10px 25px;
      font-weight: 600;
      text-shadow: none;
      min-width: 150px;
      width: 150px;
    }
    /*****Carsoul Caption Details**/
    /*.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 4s;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }*/
  
    div.carousel-caption.details {
      font-size: 24px;
      text-align: end; // right: 15px;
      color: teal;
      z-index: 100;
      padding-bottom: 10px;
    }
  
    a.name {
      font-size: 22px;
      text-align: end;
      right: 15px;
      font-weight: 600;
      cursor: pointer;
    }
  
    span.secondary_name {
      font-size: 16px;
      color: white;
      font-weight: 400;
    }
  
    span.addr {
      display: none;
      font-size: 20px;
      color: white;
      font-weight: 200;
    }
    /*Flex Slider*/
  
    .flex-caption {
      width: 100%;
      padding: 2%;
      left: 0;
      bottom: 0;
      background: rgb(35, 184, 181);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
      font-size: 14px;
      line-height: 18px;
      font-weight: 600
    }
  
    .flexslider .slides img {
      /*height: 480px;*/
    }
    /*Flash Message*/
  
    .flash-message-div {
      z-index: 100;
      width: 100%;
      position: relative;
    }
  
    .flash-message-banner {
      text-align: center;
      font-family: inherit;
      font-size: 18px;
      line-height: inherit;
      color: #fff;
      font-weight: 600;
      max-height: 72px;
      background-color: #4db6ac;
      overflow: hidden;
      border-bottom: 1px #48bbb0 solid;
    }
  
    .flash-message-banner span {
      display: block;
      padding: 20px 15px;
      max-height: 72px;
      overflow: hidden;
    }
  
    .banner-with-flash {
      margin-top: 66px;
    }
    /*ng-Dialog*/
  
    .ngdialog.ngdialog-theme-default .ngdialog-content {
      background-color: #fff;
    }
  
    .dialog-title-padding {
      padding: 8px 0 8px 9px;
    }
  
    .acs-dialog-cancellation-line {
      font-size: 14px;
    }
  
    .acs-dialog-btn-container {
      margin-top: 10px;
      font-size: inherit;
      font-weight: 400;
    }
  
    .acs-dialog-btn {
      background-color: #12cbc6;
      border: none;
      padding: 10px 30px;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      border-radius: 3px;
      display: block;
      text-transform: uppercase;
      margin: 0 auto;
    }
    /*  SignUp Dialog */
    /*  .ngdialog.ngdialog-theme-default .ngdialog-content .acs-signup-title-container {
       font-size: 35px;
    }*/
  
    .ngdialog.ngdialog-theme-default.add-ons-dialog .ngdialog-content {
      width: 50%;
    }
    .ngdialog.ngdialog-theme-default.cancellation-dialog .ngdialog-content {
      width: 50%;
    }
    /* BANNER*/
  
    nav.navbar.navbar-default-signin.acs-navbar-signin {
      margin: 0;
      background-color: #23b8b5;
      /*background-color: transparent;*/
      background-image: none;
      color: #fff;
      box-shadow: none;
      height: 80px;
    }
  
    .acs-header-user-link {
      margin-top: 18px;
    }
  
    .acs-header-user-link a {
      padding: 7px 15px 6px 10px !important;
      font-size: 16px;
    }
  
    .acs-header-user-link img {
      height: 24px;
      width: 24px;
      display: inline-block;
      margin-right: 10px;
      border-radius: 100px;
    }
  
    .acs-header-user-name {
      // margin-top: 3px;
      display: inline-block;
    }
    /* SIGN UP PAGE
  .acs-signup {
    background-color: #f5f5f5;
    height: 768px;
  }*/
  
    .acs-signup-container {
      /*// margin-top: 20px;*/
      /*// margin-left: 67px;*/
      margin: 0 auto;
      /*// background-color: #ffffff;*/
      height: 500px;
      width: 600px;
      /*// border-bottom: 1px solid #ddd;*/
      /*// box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);*/
      padding: 40px 20px;
    }
  
    .acs-signup-input-username {
      width: 100%;
      color: #282828;
      border: 0;
      font-size: 18px;
      font-weight: 500;
      padding: 15px;
    }
  
    .acs-signup-separator {
      height: 30px;
    }
  
    .acs-signup-separator-small {
      height: 15px;
    }
  
    .acs-signup-icon-container {
      padding: 20px 0px;
      padding-left: 20px;
      width: auto;
      display: inline-block;
    }
  
    .acs-signup-icon {
      font-size: 18px;
      font-weight: 600;
      color: #ACACAC;
      width: 20px;
      height: 20px;
    }
  
    .acs-signup-input {
      margin-bottom: 15px;
    }
  
    .acs-signup-input .col-sm-12 {
      border-bottom: 1px #DDD solid;
    }
  
    .acs-signup-button-container {
      /*// margin: 0px 45px 0 0px;*/
    }
  
    .btn.btn-default.btn-block.acs-signup-button {
      color: #23b8b5;
      font-size: 18px;
      padding: 12px 30px;
      font-weight: 600;
      border: 3px #23b8b5 solid;
      border-radius: 5px;
      transition: 0.25s all;
    }
  
    .btn.btn-default.btn-block.acs-signup-button:hover {
      background-color: #23b8b5;
      color: #FFF;
      text-shadow: none !important;
    }
  
    .acs-signup-text-or {
      text-align: center;
      color: #12cbc6;
      font-weight: 500;
      padding: 10px 0;
    }
  
    .acs-signup-text-social {
      text-align: center;
      color: #a7a7a7;
      font-weight: 500;
      padding: 10px 0;
    }
  
    .acs-signup-social-facebook-btn-container {
      border: 2px solid #385b9b;
      border-radius: 50px;
      width: 100%;
      color: #385b9b !important;
      padding-left: 10px;
      transition: 0.25s all;
      text-align: left;
    }
  
    .acs-signup-social-facebook-btn-container:hover {
      background-color: #385b9b !important;
      text-shadow: none !important;
      color: #FFF !important;
      border: 2px solid #385b9b !important;
    }
  
    .acs-signup-social-name {
      padding-left: 5px;
      font-weight: 600;
      color: inherit;
    }
  
    .acs-signup-social-gplus-btn-container {
      border: 2px solid #cb2329;
      border-radius: 50px;
      width: 100%;
      color: #cb2329 !important;
      text-align: left;
      padding-left: 10px;
      transition: 0.25s all;
    }
  
    .acs-signup-social-gplus-btn-container:hover {
      background-color: #cb2329 !important;
      text-shadow: none !important;
      color: #FFF !important;
      border: 2px solid #cb2329 !important;
    }
  
    .acs-signup-title {}
  
    .acs-signup-title-container {
      color: #222;
      margin-bottom: 10px;
      font-size: 42px;
      font-weight: 300;
      text-align: center;
      padding-bottom: 15px; // width: 92%;
    }
  
    .acs-signup-title {
      padding-top: 2px;
      border-bottom: 4px solid #12cbc6;
    }
  
    .acs-signup-terms,
    .acs-signup-terms a {
      font-size: 16px;
      color: #989898;
      font-weight: 500;
    }
  
    .acs-signup-terms a {
      border-bottom: 1px #CCC dashed;
    }
  
    .acs-signup-terms-container {
      text-align: center;
      padding: 20px 10px;
    }
  
    .acs-signup-signin-container {
      padding: 15px;
      margin-left: 45px;
    }
  
    .acs-signup-signin-btn {
      color: #12cbc6;
      margin-left: 10px;
      font-weight: 600;
    }
    /*// SIGN IN PAGE
  // .acs-signin {
  //   background-color: #f5f5f5;
  //   height: 768px;
  // }*/
  
    .acs-signin-container {
      /*// margin-top: 20px;*/
      /*// margin-left: 67px;*/
      margin: 0 auto;
      /*// background-color: #ffffff;*/
      height: 500px;
      width: 500px;
      /*// border-bottom: 1px solid #ddd;*/
      /*// box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);*/
      padding: 20px;
    }
  
    .acs-signin-input-username {
      width: 114%;
      color: #282828;
      font-weight: 600;
      padding: 15px;
      border: 1px solid #ddd;
      margin-left: -15px;
    }
  
    .acs-signin-icon-container {
      padding: 18px;
      border: 1px solid #ddd;
      background-color: #fff;
      width: auto;
      height: 54px;
      display: inline-block;
    }
  
    .acs-signin-icon {
      font-size: 18px;
      font-weight: 600;
      color: #282828;
      width: 20px;
      height: 20px;
    }
  
    .acs-signin-input {
      margin-bottom: 15px;
    }
  
    .acs-signin-button-container {
      /*margin: 0px 45px 0 0px;*/
    }
  
    .btn.btn-default.btn-block.acs-signin-button {
      background-color: #334a61;
      padding: 15px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  
    .acs-signin-text-or {
      text-align: center;
      color: #12cbc6;
      font-weight: 600;
      padding: 10px 0;
    }
  
    .acs-signin-text-social {
      text-align: center;
      color: #a7a7a7;
      font-weight: 600;
      padding: 10px 0;
    }
  
    .acs-signin-social-facebook-btn-container {
      border: 2px solid #385b9b;
      border-radius: 50px;
      width: 100%
    }
  
    .acs-signin-social-facebook {
      color: #3c63a0;
    }
  
    .acs-signin-social-name {
      padding-left: 30px;
      font-weight: 600;
    }
  
    .acs-signin-social-gplus-btn-container {
      border: 2px solid #dc0025;
      border-radius: 50px;
      width: 100%
    }
  
    .acs-signin-social-gplus {
      color: #dc0025;
    }
  
    .acs-signin-title {}
  
    .acs-signin-title-container {
      color: #12cbc6;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }
  
    .acs-signin-title {
      padding-top: 2px;
      border-bottom: 4px solid #12cbc6;
    }
  
    .acs-signin-terms {
      /*margin-left: -12px;*/
      font-size: 18px;
      color: #12cbc6;
      font-weight: 500;
    }
  
    .acs-signin-terms-container {
      margin-top: 15px;
    }
  
    .acs-signin-signin-container {
      padding: 25px 0 75px 0;
      /*margin-left: 47px;*/
      margin: 0 auto;
      height: auto;
      width: 600px;
      /*background-color: red; */
    }
  
    .acs-signin-signup-link {
      font-size: 16px;
      font-weight: 500;
      color: #989898;
      text-align: center;
    }
  
    .acs-signin-signin-btn,
    .acs-signup-signin-btn {
      color: #12cbc6;
      font-weight: 500;
      font-size: 16px;
    }
    /*Flash Message*/
  
    .flash-message-container {
      text-align: center;
      font-family: inherit;
      font-size: 18px;
      line-height: inherit;
      color: #222;
      font-weight: 600;
      max-height: 72px;
      background-color: #f9edbe;
      overflow: hidden;
      border-bottom: 1px #f0c36d solid;
    }
  
    .flash-message-container span {
      display: block;
      padding: 20px 15px;
      max-height: 72px;
      overflow: hidden;
    }
  
    .flash-message {}
  
    .acs-property-options-icon-container-custom {
      margin-left: -5px;
    }
  
    .acs-options-input-date-custom {
      padding-left: 8px;
    }
  
    .acs-property-options-date-custom {
      width: 280px;
    }
  
    .acs-property-options-input-people {
      width: 50px;
    }
    /*PROPERTIES SORT*/
    /*.btn.btn-default.acs-property-filter-title-button:hover,*/
    /*.btn.btn-default.acs-property-filter-title-button:focus {
    background-color: #fff;
    border-bottom: 3px solid #23b8b5;
    width: 200px;
  }*/
  
    .btn.btn-default.acs-property-filter-title-button.btn-active {
      background-color: #fff;
      border-bottom: 3px solid #23b8b5;
      font-weight: 600;
      color: #23b8b5;
    }
  
    .carousel {
      background-color: #FFF;
    }
  
    .carousel-image-container {
      height: 500px !important;
    }
  
    .carousel-image {
      margin: 0 auto;
    }
    /*ACCOUNT*/
  
    .acs-account-tab {
      background-color: #12cbc6;
      font-weight: 400;
      color: #fff;
      font-size: 18px;
      padding: 0px 10px;
    }
  
    .acs-account-tab ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  
    .acs-account-tab ul li {
      display: inline-block;
      text-align: center;
    }
  
    .acs-account-tab ul li a {
      display: block;
      padding: 20px 30px;
    }
  
    .acs-account-tab ul li a.active {
      background-color: #12aeaa;
      color: #FFF;
    }
  
    .acs-account-tab ul li a:hover {
      font-weight: 600;
      color: #FFF;
    }
  
    .acs-account-welcome {
      padding: 10px;
      font-size: 20px;
      background-color: #efffff;
      text-align: center;
      font-weight: 400;
    }
  
    .acs-account-content {
      padding: 50px 25px;
    }
  
    .acs-account-input-label-first {
      // margin-top: 25px;
      font-size: inherit;
      font-weight: 500;
      color: #989898;
      text-align: left;
      padding: 10px 0;
    }
  
    .acs-account-input-label {
      font-size: inherit;
      font-weight: 500;
      color: #989898;
      text-align: left;
      padding: 10px 0;
    }
  
    .acs-account-input-container {
      margin-bottom: 20px;
    }
  
    .acs-account-rating-container .ngrateit-star {
      background-size: 24px;
    }
  
    .acs-account-input,
    .acs-account-input-phone,
    .acs-account-select {
      width: 100%;
      padding: 12px 7px;
      font-size: 18px;
      border: 1px #DDD solid;
      border-radius: 2px;
      background-color: #ffffff;
      font-weight: 400;
    }
  
    .acs-account-input-disabled {
      width: 100%;
      padding: 15px;
      font-size: 18px;
      border: 0;
      border-radius: 2px;
      background-color: #eee;
      font-weight: 400;
    }
  
    .acs-account-input:focus,
    .acs-account-input-phone:focus,
    .acs-account-select:focus {
      border: 0;
      box-shadow: 0 0 2px #12cbc6;
    } // .acs-account-select {
    //   width: 100px;
    //   padding: 0 0 0 8px;
    //   font-size: 18px;
    //   background-color: #ffffff;
    //   font-weight: 400;
    //   height: 48px;
    //   border: 1px solid #a9a9a9 !important;
    // }
    .acs-account-select-birth-date {
      width: 100px;
      padding: 0 0 0 8px;
      font-size: 18px;
      background-color: #ffffff;
      font-weight: 400;
      height: 48px;
      border: 1px solid #a9a9a9 !important;
    }
  
    .acs-account-select-birth-month {
      width: 100px;
    }
  
    .acs-account-plus-sign {
      /*width: 75%;*/
      /*font-size: 18px;*/
      /*margin-left: 25px;*/
      background-color: transparent;
      border: none;
      padding-top: 10px;
    }
  
    .acs-account-plus-sign span {
      margin-left: 15px;
    }
  
    .acs-account-phone-container {
      margin-top: 25px;
      font-size: inherit;
      font-weight: 400;
      margin-left: 25px;
    }
  
    .acs-account-btn-container {
      margin-top: 25px;
      font-size: inherit;
      font-weight: 400;
    }
  
    .acs-account-btn {
      background-color: #12cbc6;
      border: none; // width: 100px;
      padding: 15px 30px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      border-radius: 3px;
      display: block;
      text-transform: uppercase;
      margin: 0 auto;
    }
  
    .acs-account-img-container {
      /*text-align: right;*/
      /*padding-right: 40px;*/
      /*text-align: right;*/
    }
  
    .acs-account-img {
      height: 220px;
      background-color: #fff;
      width: 200px;
      border: 1px solid #12cbc6;
    }
  
    .acs-account-user-name {
      text-align: center;
      /*margin-right: 18px;*/
      font-size: 22px;
      font-weight: 600;
      margin-top: 15px;
      color: #314c62;
      width: 200px;
      /* background-color: grey; */
    }
  
    .acs-dialog-close {
      margin: 0;
      float: right;
      font-size: 16px !important;
      padding: 3px !important;
      text-align: right;
    }
  
    .acs-dialog-close i {
      font-size: 20px;
    }
    /*PROPERTIES*/
  
    .acs-property-list-amenities-filter,
    .acs-property-list-amenities-filter:hover {
      background-color: #23b8b5 !important;
      /*margin-left: -1px;*/
      width: 100%;
      color: #fff !important;
      font-size: 12px;
    }
  
    .acs-property-list-amenity {
      font-size: 14px;
      width: 100%;
      color: #000000;
      padding: 5px 10px;
    }
  
    .acs-property-list-amenity table {
      width: 100%;
    }
  
    .acs-property-list-amenity-checkbox {
      width: 28px;
      height: 15px;
      cursor: pointer;
    }
  
    .acs-property-filter-dropdown-menu .acs-property-list-amenity-li {
      cursor: auto!important;
    }
  
    .acs-property-list-amenity-name {
      cursor: pointer;
      font-size: 14px;
      padding-left: 5px;
      text-transform: capitalize;
    }
  
    .acs-property-list-services-icon-disabled {
      webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.5;
    }
    /*ll*/
  
    .container {
      // padding-left: 0 !important;
    }
    /*Single Property*/
  
    .acs-single-property-amenity-row {
      /*padding: 10px 0;*/
    }
  
    .acs-single-property-amenity-name {
      font-weight: 600;
      padding-left: 15px;
    }
  
    .acs-single-property-amenity-container {
      padding-top: 2px;
      padding-bottom: 10px;
      display: inline-block;
    }
  
    .acs-single-property-rooms-title {
      margin: 0;
      padding: 25px 0 25px 0;
      color: #484848;
      font-weight: 600;
    }
  
    .acs-single-property-room-row {
      border-bottom: 1px #DDD solid;
      border-radius: 3px;
      padding: 25px 0 15px 0;
    }
  
    .acs-single-property-room-row-selected {
      box-shadow: 0 1px 10px #DDD;
      border-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #FFF;
      margin-bottom: 25px;
    }
  
    .acs-single-property-room-row:last-of-type {
      border-bottom: 0;
    }
  
    .acs-single-property-rooms-row {
      background-color: #fff;
      padding: 0 20px;
      margin: 0;
    }
  
    .acs-single-property-rooms-column {}
  
    .acs-single-property-rooms-img {
      border: 1px solid #eee;
      width: 100%;
    }
  
    .acs-single-property-rooms-column-bottom-line {
      border-bottom: 1px solid #eee;
      margin: 15px -35px 0 -35px;
    }
  
    .acs-single-property-rooms-column-bottom-line-space {
      margin-bottom: 15px;
    }
  
    .acs-single-property-room-name {
      color: #304b60;
      margin-top: -8px;
      font-weight: 600;
      margin-bottom: 0;
    }
  
    .acs-single-property-rooms-detail-list {
      font-weight: 400;
    }
  
    .acs-single-property-rooms-detail-list-padding {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .acs-single-property-rooms-detail-list-detail {
      padding-left: 20px;
    }
  
    .acs-single-property-room-price-column {
      text-align: right;
    }
  
    .acs-single-property-rooms-button,
    .acs-single-property-rooms-button:hover,
    .acs-single-property-rooms-button:focus {
      background-color: #FFF !important;
      border-radius: 2px;
      border: 2px #25b4b4 solid;
      color: #25b4b4 !important;
      font-weight: bold !important;
    }
  
    .acs-single-property-rooms-book-row {
      padding: 15px 0;
      font-size: 22px;
      font-weight: 600;
      padding-right: 10px;
    }
  
    .acs-single-property-rooms-book-btn,
    .acs-single-property-rooms-book-btn:hover,
    .acs-single-property-rooms-book-btn:focus {
      background-color: #ffc602 !important;
      font-size: 20px !important;
      margin-top: 20px;
      font-weight: 600 !important;
      float: right;
    }
  
    .acs-single-property-rooms-book-text {
      padding: 15px;
      text-align: left;
      font-weight: 500;
      padding-left: 40px;
    }
  
    .single-property-rooms-detail-list-quantity {
      width: 100px;
      border-radius: 2px;
      border: 1px #DDD solid;
      background-color: #fff;
      padding: 5px;
      margin: 10px 0;
    }
  
    .acs-single-property-shared-spaces-row {
      padding: 15px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      margin-left: -25px;
      flex-direction: row;
    }
  
    .acs-single-property-shared-spaces-container {
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin: 15px 20px 15px 0;
      width: 100px;
      height: 100px;
    }
  
    .acs-single-property-shared-spaces-name {
      font-weight: 600;
      margin: 5px 0;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
    }
  
    .acs-single-property-shared-spaces-img-container {
      height: 40px;
      width: 40px;
      margin: 0 auto;
    }
  
    .acs-single-property-shared-spaces-img {
      width: 100%;
      height: 100%;
    }
  
    .acs-single-property-amenities-img {
      height: 50px;
      padding: 5px;
      width: 50px;
    }
  
    #room-book-button[disabled='disabled'] {
      color: #686868;
    }
  
    .acs-single-proeprty-review-row {
      padding: 20px 20px 0 20px;
      margin: 0;
    }
  
    .acs-single-property-review-container {
      border-bottom: 1px solid #eee; // padding-bottom: 30px;
      padding: 22px 15px 20px 15px;
    }
  
    .acs-single-property-review-row-customer-text {
      margin-top: 2px;
    }
  
    .acs-single-property-review-customer-name {
      font-weight: 500; // display: inline-block;
    }
  
    .acs-single-property-review {
      padding-top: 15px;
    }
  
    .acs-single-property-review p {
      // text-indent: 30px;
    }
  
    .acs-single-property-review-img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin-right: 15px;
    }
  
    .acas-single-property-review-link-button {
      color: #009688;
      text-decoration: none;
      padding-right: 15px;
    }
  
    .acs-single-property-bottomline {
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
    }
  
    .acs-single-property-review-stars {
      padding-right: 20px;
    }
  
    .acs-single-property-location-details-column {
      padding-left: 10px;
    }
  
    .acs-single-property-stars .ngrateit-star {
      background-size: 24px;
    }
    /* Bottom Line */
  
    .acs-checkout-row-bottom-line {
      border-bottom: 1px solid #e3e3e3;
      margin: 10px 0;
    }
  
    span.acs-update-addons-sub-header {
      font-size: 16px;
    }
  
    .acs-bold {
      font-weight: 600;
    }
  
    .acs-italic {
      font-style: italic;
    }
  
    .acs-checkout-title h2 {
      padding-left: 15px;
    }
  
    .acs-checkout-section-title {
      font-size: 22px;
      margin-bottom: 5px;
    }
  
    .acs-checkout-row {
      padding: 8px 5px;
    }
  
    .acs-checkout-section-container {
      margin-top: 15px;
    }
  
    .acs-checkout-addon-container-row {
      padding: 10px 20px;
    }
  
    .acs-checkout-addon-container-col {
      padding: 10px;
    }
  
    .acs-checkout-addon-container {
      border-radius: 2px;
      border: 1px #DDD solid;
      padding: 15px 15px;
    }
  
    .acs-checkout-addon-container-selected {
      box-shadow: 0 2px 7px #DDD;
      border-color: #FFF;
    }
  
    .acs-checkout-addon-container-img {
      height: 75px;
      width: 75px;
      margin: 0 auto;
    }
  
    .acs-checkout-addon-container-img img {
      height: 100%;
      text-align: center;
      width: 100%;
    }
  
    .acs-checkout-addon-container-name {
      font-size: 20px;
      padding: 10px 0 0px 0;
      text-align: center;
      margin: 0;
      height: 85px;
      overflow: hidden;
    }
  
    .acs-checkout-addon-container-desc {
      font-size: 12px;
      color: #787878;
      line-height: 18px;
      text-align: center;
      padding: 5px 0;
      height: 50px;
      overflow: auto
    }
  
    .acs-checkout-addon-container-rate {
      font-size: 18px;
      padding: 10px 0;
      font-weight: 600;
      text-align: center;
    }
  
    .acs-checkout-addon-container-select {
      border-radius: 200px;
      border: 1px #CCC solid;
      height: 32px;
      color: #CCC;
      text-align: center;
      user-select: none;
      width: 32px;
      margin: 0 auto;
    }
  
    .acs-checkout-addon-container-select:hover {
      color: #23b8b5;
      cursor: pointer;
      border-color: #23b8b5;
    }
  
    .acs-checkout-addon-container-select.selected,
    .acs-checkout-addon-container-select.selected:hover {
      background-color: #23b8b5;
      border-color: #23b8b5;
      color: #FFF;
    }
  
    .acs-checkout-addon-container-select i.material-icons {
      line-height: 32px;
      font-size: 16px;
    } // .acs-checkout-addon-container {
    //   padding: 12px 10px;
    //   background-color: #eee;
    //   color: #000;
    //   width: 100%;
    //   cursor: pointer;
    //   margin: 15px 0 0 0;
    // }
    // .acs-checkout-addon-name {
    //   margin-left: 10px;
    //   font-weight: 500;
    // }
    // .acs-checkout-addon-active {
    //   color: #1ab8b5;
    //   background-color: #464646;
    // }
    .acs-checkout-payment-name {
      margin-left: 10px;
      font-weight: 500;
      display: inline;
      font-size: 18px;
    }
  
    .acs-checkout-payment-desc {
      margin-left: 5px;
      font-weight: 300;
      display: inline;
      font-size: 14px;
      line-height: 24px;
      color: #484848;
    }
  
    .acs-checkout-payment-active {
      color: #1ab8b5;
      background-color: #464646;
      border-radius: 2px;
    }
  
    .acs-checkbox-confirm-details {
      background-color: #e1e1e1;
      padding: 8px 15px;
      font-weight: 400;
    }
  
    .acs-checkbox-confirm-details-label {
      padding: 0px 2px;
      font-weight: 400;
      color: #787878;
      margin: 15px 0 0 0;
    }
  
    .acs-checkbox-confirm-details-input-container {
      margin: 15px 0 0 0;
    }
  
    .acs-checkbox-confirm-details-input {
      width: 100%;
      padding: 10px 14px;
      background-color: #FFF;
      border: 1px #DDD solid;
      font-weight: 500;
      color: #282828;
      border-radius: 2px;
    }
  
    .acs-checkbox-confirm-details-input:focus {
      box-shadow: 0 0 2px #23b8b5;
      border-color: #FFF;
    }
  
    .acs-checkbox-confirm-details-label-type-two {
      padding: 8px 10px;
    }
  
    .acs-checkbox-confirm-details-label label {
      color: #787878;
    }
  
    .acs-checkbox-confirm-details-dropdown {
      width: 100%;
      padding: 8px 10px;
      background-color: #fff;
    }
  
    .acs-checkbox-confirm-details-input-btn,
    .acs-checkbox-confirm-details-input-btn:hover {
      width: 100%;
      padding: 15px;
      background-color: #f5f5f5;
      border: 2px solid #304c62;
      border-radius: 5px;
      text-transform: inherit;
      font-weight: 500;
      color: #304c62 !important;
    }
  
    .acs-checkout-payment-option-container {
      padding: 15px;
      background-color: #FFF;
      color: #000;
      width: 100%;
      cursor: pointer;
      margin: 5px 0 0 0;
    }
  
    .acs-checkout-payment-option-active {
      background-color: #EEE;
      font-weight: bold;
    }
  
    .acs-checkout-cancellation-policy {
      cursor: default;
    }
  
    .acs-checkout-payment-option-active .acs-checkout-payment-name {
      font-weight: 600;
    }
  
    p.acs-checkout-cancellation-days.policy_info {
      white-space: pre-wrap;
      font-weight: 300;
      cursor: default;
    }
  
    .acs-checkout-payment-option-active .acs-checkout-payment-name.acs-checkout-cancellation-days {
      font-weight: 500;
    }
  
    .acs-checkout-booking-details-container {
      /*padding-top: 100px;*/
      padding-top: 86px;
      padding-bottom: 25px;
      /*transition: 0.05s all;*/
      /*-webkit-transition: 0.05s all;*/
    }
  
    .acs-font-size-thrtn {
      font-size: 13px;
    }
  
    .acs-checkout-booking-details,
    .acs-checkout-booking-totals {
      background-color: #ffffff;
      margin: 0px 0 0 0;
      border-radius: 5px;
      padding: 10px 20px;
      box-shadow: 0 2px 7px #DDD;
    }
  
    .acs_deam_light {
      font-size: 13px;
      font-weight: 500;
      color: #999;
      line-height: 40px;
    }
  
    .acs_deam_light img {
      margin-right: 5px;
      height: 18px;
      width: 18px;
      position: relative;
      top: -1px;
    }
  
    .acs-checkout-booking-totals {
      /*margin-top: 15px;*/
      margin-top: 0;
    }
  
    .acs-checkout-booking-details-title {
      color: #304c62;
      text-align: center;
    }
  
    .acs-checkout-booking-details-label {
      margin-top: 10px;
      font-weight: 400;
      text-transform: uppercase;
      color: #989898;
      font-size: 12px;
    }
  
    .acs-checkout-booking-details-input {
      padding: 5px 0px;
      font-weight: 400;
      width: 100%;
      background: none;
      border: 0;
      font-size: 21px;
    }
  
    .acs-checkout-booking-details-input-container {
      width: 50%;
      display: inline-block;
    }
  
    .acs-checkout-booking-details-extra-beds {
      padding: 5px 0px;
      font-weight: 500;
      background: none;
      border: 0;
      font-size: 18px;
      margin-left: -3px;
    }
  
    .acs-checkout-label-margin {
      margin-left: 5px;
    }
  
    .navigation-link {
      color: black;
      font-size: 14px;
    }
  
    .acs-signup-button-text {
      padding: 0 40px;
    }
  
    .acs-signup-button-text .sign-up-btn {
      padding: 5px;
    }
    /*.acs-checkout-booking-details-input-checkin {
    padding-right: 15px !important;
  }*/
  
    .acs-checkout-summary-text {
      color: #666;
    }
  
    .acs-checkout-booking-details-dropdown {
      padding: 5px 0px;
      font-weight: 600;
      width: 100%;
      margin-left: -4px;
      background: none;
      border: 0;
      font-size: 20px;
      font-weight: 400;
    }
  
    .acs-checkout-booking-details-coupon-container {
      padding-top: 5px;
    }
  
    .acs-checkout-booking-details-coupon-btn,
    .acs-checkout-booking-details-coupon-btn:hover {
      padding: 8px;
      background-color: #2f4b63 !important;
      color: #fff !important;
      text-transform: capitalize;
    }
  
    .acs-checkout-booking-details-payment-label {
      font-size: 18px;
      font-weight: 400;
      padding: 5px 0;
    }
  
    .acs-checkout-booking-details-payment-label.acs-bold {
      /*font-weight: bold;*/
      font-weight: 400;
      font-size: 22px;
    }
  
    .acs-checkout-booking-details-payment-label.acs-small {
      font-size: 16px;
      font-weight: 400;
    }
  
    .acs-checkout-booking-details-payment-label.acs-italic {
      font-style: italic;
    }
  
    .acs-align-right {
      text-align: right;
    }
  
    .acs-primary-color {
      color: #12cbc6;
    }
  
    .acs-text-upper {
      text-transform: uppercase;
    }
  
    .acs-checkout-booking-room {
      padding-bottom: 15px;
    }
  
    .acs-checkout-booking-details-payment-btn,
    .acs-checkout-booking-details-payment-btn:hover {
      padding: 12px;
      font-size: 18px;
      text-shadow: none;
      background-color: #23b8b5 !important;
      color: #fff !important;
      font-weight: 600;
      letter-spacing: 0.2px;
    }
  
    .acs-checkout-booking-details-room-name {
      font-size: 18px;
      font-weight: 600;
      padding: 8px 0;
      text-transform: uppercase;
      color: #23b8b5;
    }
  
    .acs-checkout-booking-room-remove {
      color: #c62828 !important;
      background-color: transparent !important;
      border: 2px #c62828 solid;
      border-radius: 2px;
      width: 72px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      padding: 4px 0;
    }
  
    .acs-checkout-booking-details-agreement {
      text-align: center;
      padding: 10px 24px;
      /* font-weight: 400; */
      font-size: 14px;
      /* margin: 0 0px; */
    }
  
    .acs-checkout-booking-details-agreement a {
      color: #282828;
      font-weight: 600;
      font-size: 14px;
    }
  
    .acs-checkout-date-selection-container {
      // width: 50%;
    }
  
    .acs-checkout-date-selection,
    .acs-checkout-date-selection:focus {
      text-align: left !important;
      font-size: 20px;
      font-weight: 400;
      color: #000;
      background-color: transparent;
      border: none;
      width: 100%;
    }
  
    .acs-bold-five {
      font-weight: 500;
    }
  
    .acs-bold-six {
      font-weight: 600;
    }
  
    .acs-bold-four {
      font-weight: 400;
    }
  
    .acs-cursor-pointer {
      cursor: pointer;
    }
  
    .acs-coupon-details {
      font-size: 12px;
      color: #23b8b5;
      font-weight: 600
    }
  
    .acs-red {
      color: red;
    }
    /* Datepicker Overrides */
  
    .datepicker table tr td.active.active {
      background-color: #23b8b5 !important;
    }
  
    .btn.btn-default.acs-checkout-coupon-btn {
      border: 1px solid #23b8b5;
      transition: 0.25s all;
      color: #23b8b5;
      font-weight: 600;
      margin: 5px 0;
      padding: 10px 0;
    }
  
    .acs-checkout-coupon-input {
      background-color: #fff;
      padding: 7px 0 7px 10px;
      font-size: 18px;
    }
  
    .btn.btn-default.acs-checkout-coupon-btn:hover {
      background-color: #23b8b5 !important;
      color: #fff;
    }
    /*Success Page*/
  
    .acs-success-content-container {
      text-align: center;
    }
  
    .acs-success-title {
      color: #028d3a;
    }
  
    .acs-success-content-text {
      font-size: 20px;
    }
  
    .acs-success-content-margin {
      margin: 20px 0;
    }
  
    .acs-success-container {
      min-height: 345px;
    }
    /*Failure*/
  
    .acs-failure-title {
      color: #fc021e;
    }
  
    .acs-failure-take-back {
      font-size: 22px;
      margin-left: 10px;
      color: #333;
    }
  
    .acs-failure-content-margin {
      margin: 30px 0;
    }
  
    .acs-view-more-search-button {
      padding: 12px;
      font-size: 18px;
      text-shadow: none;
      background-color: #cca57e !important;
      color: #fff !important;
      font-weight: 600;
    }
    /* Home Static Content */
  
    .acs-mobi-book-now {
      color: #cca57e;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      font-size: 16px;
      padding: 5px 0 10px 0;
    }
  
    .acs-home-feature-container {
      padding-top: 80px;
      padding-bottom: 0px;
    }
  
    .acs-home-features-block {}
  
    .acs-home-features-block-img {
      text-align: center;
    }
  
    .acs-home-features-block-img img {
      height: 96px;
      width: auto;
      margin: 0 auto;
      display: block;
    }
  
    .acs-home-features-content {
      padding: 35px 35px;
    }
  
    .acs-home-features-content h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 26px;
      margin: 0;
      text-align: center;
      padding: 0;
    }
  
    .acs-home-features-content p {
      padding-top: 15px;
      text-align: center;
      font-size: 13px;
      color: #787878;
      line-height: 21px;
    }
  
    .acs-home-review-parent-container {
      border-top: 1px #DDD solid;
      padding: 40px 0;
    }
  
    .acs-home-review-title h2 {
      font-size: 36px;
      font-weight: 300;
      color: #333;
      text-align: center;
      line-height: 36px;
      margin: 0;
      padding: 0;
    }
  
    .acs-home-review-container {
      padding-top: 60px;
      padding-bottom: 25px;
    }
  
    .acs-home-review-quote-container {
      height: 180px;
      padding: 10px 20px;
    }
  
    .acs-home-review-quote p {
      font-size: 14px;
      position: relative;
      color: #787878;
      text-align: justify;
      line-height: 24px;
    }
  
    .acs-home-review-quote p:before {
      content: "\201C";
      font-weight: bold;
      font-size: 42px;
      color: #CCC;
      position: absolute;
      top: -0.2em;
      left: -2.0rem;
      font-family: 'Georgia';
    }
  
    .acs-home-review-quote p:after {
      content: "\201D";
      font-weight: bold;
      font-size: 42px;
      color: #CCC;
      position: absolute;
      bottom: -2.0rem;
      right: 1.0rem;
      font-family: 'Georgia';
    }
  
    .acs-home-review-user {
      padding: 0 20px;
      padding-top: 25px;
    }
  
    .acs-home-review-user-pic {
      height: 36px;
      border-radius: 200px;
      width: 36px;
    }
  
    .acs-home-review-user-pic img {
      height: 100%;
      width: 100%;
      border-radius: 32px;
    }
  
    .acs-home-review-user-name {
      padding-left: 15px;
      padding-top: 5px;
    }
  
    .acs-home-review-user-name h6 {
      margin: 0;
    }
  
    .acs-home-review-quote-marks {
      font-size: 42px;
    }
  
    .acs-carousel-reviews .carousel-inner {
      width: 95%;
      margin-left: 27px;
    }
    /* Host your Property */
  
    .acs-host-feature-container {
      padding-top: 20px;
      padding-bottom: 0px;
    }
  
    .acs-host-feature-container .acs-home-features-content {
      padding: 35px 50px;
    }
  
    .acs-host-hero-container {}
  
    .acs-host-hero-container .acs-host-hero-text {
      padding: 35px 50px;
      padding-top: 25px;
    }
  
    .acs-host-hero-container .acs-host-hero-text h2 {
      color: #222;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
  
    .acs-host-apply-form-container {
      border-top: 1px #DDD solid;
      padding-bottom: 25px;
    }
  
    .acs-host-apply-form-title {
      padding: 15px 0;
      padding-top: 40px;
    }
  
    .acs-host-apply-form-title h2 {
      font-size: 32px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      text-align: center;
      line-height: 36px;
    }
  
    .acs-host-apply-form-title h4 {
      margin: 0;
      padding: 0;
      padding-top: 15px;
      font-size: 16px;
      text-align: center;
      font-weight: 300;
      line-height: 24px;
    }
  
    .acs-host-apply-submit-btn {
      height: 42px;
      color: #FFF;
      font-weight: 600;
      border: 0;
      outline: 0;
      display: block;
      font-size: 13px;
      padding: 0 35px;
      margin-left: auto;
      text-transform: uppercase;
      margin-right: auto;
      border-radius: 2px;
      background-color: #23b8b5;
    }
  
    .acs-host-apply-submit-btn:hover {
      background-color: #3ecac8;
    }
    /*Properties*/
  
    .acs-properties-view-more-container {
      text-align: center;
    }
  
    .acs-properties-view-more {
      color: #23b8b5 !important;
      font-size: 22px;
      font-weight: 600;
    }
  
    .acs-property-no-image {
      height: 235px !important;
      border: 1px solid #eee;
    }
  
    .content-form {
      min-height: 100px;
      padding: 20px;
      width: 100%;
    }
  
    .title {
      color: #08302c;
      padding-left: 0;
    }
  
    .content {
      padding-top: 25px;
      padding: 5px; // margin: 15px;
      // width:100%;
    }
  
    .content ul {
      padding-left: 15px;
      margin-bottom: 0;
    } // Content page
    .form-content {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .page-title {
      margin-top: 40px;
      font-weight: bold;
      font-size: 16px;
    }
  
    .page-title-old {
      margin-top: 20px;
      font-weight: bold;
      font-size: 16px;
    }
  
    .change-page-header {
      color: #6d95bd;
      font-size: 20px;
      font-weight: bold;
    }
  
    .change-btn {
      margin-bottom: 20px;
      margin-left: 20px;
    } // Change Password page Ends
    @media (max-width: 321px) {
      .acs-account-tab ul li a {
        padding: 15px 10px;
        font-size: 11px;
      }
      .row.acs-account-tab {
        margin-top: -20px;
      }
    }
  
    @media screen and (max-width: 768px) {
  
      .acs-signup-container {
        width: 100%;
      }
      .acs-signup-title-container {
        font-size: 32px;
      }
      .acs-signup-separator {
        height: 15px;
      }
      .acs-signup-input-username {
        font-size: 16px;
        padding: 16px 5px;
      }
      .acs-signup-separator-small {
        height: 10px;
      }
      .flash-message-container {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
      }
      .acs-signin-signin-container {
        width: 100%;
        padding-bottom: 25px;
      }
      .acs-account-container {
        margin-top: 20px;
      }
      .acs-account-content {
        padding: 25px 15px;
      }
      .acs-account-tab {
        padding: 0;
      }
      .acs-account-tab ul li a {
        /*padding: 15px;*/
        padding: 15px 10px;
        font-size: 14px;
      }
      .acs-single-property-room-row-selected {
        background-color: #F5F5F5;
        box-shadow: none;
        padding-left: 0;
        margin-bottom: 0;
        padding-right: 0;
      }
      .acs-single-property-amenity-container {
        padding-bottom: 10px;
        padding-right: 0;
      }
      .acs-single-property-amenities-name {
        font-weight: 400;
      }
      .acs-single-property-amenities-img {
        height: 32px;
        width: 32px;
        padding: 3px;
      }
      .acs-single-property-amenity-name {
        font-size: 14px;
      }
      .acs-single-property-shared-spaces-row {
        margin: 0;
      }
      .acs-single-property-shared-spaces-container {
        width: 33%;
        margin-left: 0;
        margin-right: 0;
      }
      .acs-booking-list-row .acs-property-list-hero-rate-column {
        padding-top: 25px;
      }
      .acs-host-hero-container .acs-host-hero-text {
        display: none;
      }
      .acs-host-feature-container .acs-home-features-content,
      .acs-home-features-content {
        padding: 0 20px 0 0;
      }
      .acs-host-feature-container .acs-home-features-content h3,
      .acs-host-feature-container .acs-home-features-content p {
        text-align: left;
      }
      .acs-host-feature-container .acs-home-features-block-img {
        padding-left: 0;
      }
      .acs-host-feature-container .acs-home-features-block-img img {
        height: 64px;
      }
      .acs-host-feature-container .acs-home-features-content p {
        padding-top: 5px;
      }
      .acs-host-feature-container .acs-home-features-block,
      .acs-home-feature-container .acs-home-features-block {
        padding-bottom: 40px;
      }
      .acs-signup-container {
        width: 100%;
        padding: 40px 5px;
      }
      .acs-signup-title-container {
        font-size: 32px;
      }
      .flash-message-container {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
      }
      .acs-signin-signin-container {
        width: 100%;
        padding-bottom: 25px;
      }
      .acs-account-container {
        margin-top: 20px;
      }
      .acs-account-content {
        padding: 25px 15px;
      }
      .acs-account-tab {
        padding: 0;
      }
      /*.acs-account-tab ul li a {
      padding: 15px 10px;
      font-size: 14px;
    }*/
      .acs-single-property-room-row-selected {
        background-color: #F5F5F5;
        box-shadow: none;
        padding-left: 0;
        margin-bottom: 0;
        padding-right: 0;
      }
      .acs-single-property-checkout-column {
        padding: 20px;
      }
      .acs-checkout-booking-details-container {
        border-top: 1px #CCC solid;
        margin-top: 15px;
        padding: 20px;
      }
      .acs-checkout-title h2 {
        padding: 5px 5px;
      }
      .acs-checkout-section-title {
        font-size: 18px;
      }
      .acs-checkout-booking-details {
        margin: 0px 0 0px 0;
        padding: 15px 5px 5px 5px;
      }
      .acs-checkout-payment-desc {
        display: block;
      }
      .acs-checkout-addon-container {
        padding: 10px;
      }
      .acs-checkout-addon-container-name {
        font-size: 16px;
      }
      .acs-checkout-coupon-input {
        font-size: 16px;
      }
      .acs-checkout-addon-container-rate {
        padding: 5px 0;
      }
      .acs-checkout-booking-totals {
        margin: 0px 0 0px 0;
        padding: 15px 5px 5px 5px;
      }
      .acs-checkout-booking-details-payment-label {
        font-size: 16px;
      }
      .acs-checkout-booking-details-payment-label .rupee.large {
        font-size: 13px;
      }
      .acs-checkout-addon-container-select {
        position: absolute;
        height: 24px;
        width: 24px;
        left: 20px;
        top: 20px;
      }
      .acs-checkout-addon-container-select i.material-icons {
        font-size: 14px;
        line-height: 24px;
      }
      .btn.acs-checkout-booking-details-payment-btn {
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 15px 10px;
        text-shadow: none;
        font-weight: 700;
        font-size: 18px;
      }
      .btn.acs-checkout-booking-details-payment-btn[disabled="disabled"] {
        opacity: 1.0;
        background-color: #90e0de !important;
      }
      .footer-padding footer {
        padding-bottom: 60px;
      }
      .acs-footer-column {
        padding: 0px;
        text-align: left;
        text-align: center;
      }
      .acs-footer-links ul {
        text-align: center;
      }
      .acs-checkout-date-selection,
      .acs-checkout-date-selection:focus {
        width: 100%;
      }
      .acs-home-feature-container {}
      .acs-home-feature-container {
        padding-top: 50px;
        padding-bottom: 0px;
      }
      .acs-home-review-quote-container {
        padding: 10px 30px;
      }
      .acs-home-review-user {
        padding: 0 30px;
        padding-top: 20px;
      }
      .acs-home-review-quote {
        padding-bottom: 50px;
      }
      .acs-home-review-parent-container {
        padding-bottom: 0px
      }
      .acs-home-review-container {
        padding-bottom: 0;
      }
      ol.flex-control-nav.flex-control-paging {
        display: none;
      }
      .acs-single-property-info-text {
        padding: 0 0 20px 0;
      }
      .row.acs-account-tab {
        margin-top: -20px;
      }
      .acs-carousel-reviews .carousel-inner {
        width: 100%;
        margin-left: 0;
      }
      .acs-home-review-quote p {
        float: left;
        margin-bottom: 15px;
      }
      .ngdialog.ngdialog-theme-default.add-ons-dialog .ngdialog-content {
        width: 100%;
      }
      .ngdialog.ngdialog-theme-default.cancellation-dialog .ngdialog-content {
        width: 100%;
      }
    }
  
    @media (max-width: 321px) {
      .acs-account-tab ul li a {
        padding: 15px 10px;
        font-size: 11px;
      }
      .row.acs-account-tab {
        margin-top: -20px;
      }
      .acs-single-property-review-stars {
        text-align: left;
        padding-top: 2px;
      }
    }
  
    @media screen and (min-width: 768px) {
      .acs-checkout-booking-details-container.fixed-block {
        position: fixed;
      }
      .acs-single-property-review-stars {
        text-align: right;
      }
    }
    /*Tablet*/
    /* Portrait */
  
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .ngdialog.ngdialog-theme-default.add-ons-dialog .ngdialog-content {
        width: 80%;
      }
      .ngdialog.ngdialog-theme-default.cancellation-dialog .ngdialog-content {
        width: 90%;
      }
    }
    /*Landscape*/
  
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .ngdialog.ngdialog-theme-default.add-ons-dialog .ngdialog-content {
        width: 80%;
      }
      .ngdialog.ngdialog-theme-default.cancellation-dialog .ngdialog-content {
        width: 90%;
      }
    }
  
  
  
  
    .checkout-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #9ba2a5;
    }
    .checkout-input input::-moz-placeholder { /* Firefox 19+ */
      color: #9ba2a5;
    }
    .checkout-input input:-ms-input-placeholder { /* IE 10+ */
      color: #9ba2a5;
    }
    .checkout-input input:-moz-placeholder { /* Firefox 18- */
      color: #9ba2a5;
    }