/*HOME*/
.one-goa-banner {
    position: relative;
}
.one-goa {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
}
.one-goa h1 {
	font-family: 'Source Sans Pro', sans-serif;
    line-height: 0.6em;
    font-size: 2.4em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}
.one-goa h3 {
	font-family: 'Source Sans Pro', sans-serif;
    webkit-text-shadow: 0 2px 10px #000;
    -moz-text-shadow: 0 2px 10px #000;
    text-shadow: 0 2px 10px #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}
.book-now-onegoa {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    margin: 0 0 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 16px;
    min-width: 175px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 2px solid #fff;
    margin: 00px auto;
}
.book-now-onegoa:hover, .book-now-onegoa:focus {
    text-decoration: none;
    color: #000;
    background: #fff;
}

/*Home @media query*/

@media only screen and (max-width: 768px){
    .one-goa {
        position: absolute;
        top: 10%;
        left: 13%;
        text-align: center;
        padding: 0 0 5px 0; 
    }

    .one-goa h1 {
    	font-family: 'Source Sans Pro', sans-serif;
        line-height: 0.6em;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0;
        margin-top: 0px;
    }
    .one-goa h3 {
    	font-family: 'Source Sans Pro', sans-serif;
        webkit-text-shadow: 0 2px 10px #000;
        -moz-text-shadow: 0 2px 10px #000;
        text-shadow: 0 2px 10px #000;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 10px;
    }
    .book-now-onegoa {
        background-color: transparent;
        box-shadow: none;
        text-shadow: none;
        margin: 0 0 0 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 10px;
        min-width: 175px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border: 1px solid #fff;
        margin: 00px auto;
    }
}