/*************************************************************************************
*
* Bootstrap CSS Overrides
*
*************************************************************************************/

a:hover {
    text-decoration: none;
  }
  form {
    margin-bottom: 0;
  }
  
  /*************************************************************************************
  *
  * Typography Overrides
  *
  *************************************************************************************/
  h1 {
    font-size:42px;
    line-height:56px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h2 {
    font-size:32px;
    line-height:48px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h3 {
    font-size:28px;
    line-height:42px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h4 {
    font-size:24px;
    line-height:36px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h5 {
    font-size:18px;
    line-height:32px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h6 {
    font-size:16px;
    line-height:28px;
    font-weight:600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  p, li {
    font-size:14px;
    line-height:24px;
    font-weight:400;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif; 
  }
  a{
    font-size:18px;
    font-weight:400;
    text-decoration: none;
    color: white;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .clear {
    clear: both;
  }
  /*************************************************************************************
  *
  * Utility Classes
  *
  *************************************************************************************/
  /* Buttons */
  .acs-button-primary {
    display: block;
    padding: 10px 18px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background-color: #f9a11b ;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    outline: 0px;
  }
  .acs-button-primary:hover,
  .acs-button-primary:focus {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    outline: 0px;
    background-color: #fab54d;
  }
  .acs-button-secondary {
    display: block;
    padding: 10px 18px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background-color: #439bd3 ;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    outline: 0px;
  }
  .acs-button-secondary:hover,
  .acs-button-secondary:focus {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    outline: 0px;
    background-color: #6cb1dd;
    font-weight: 600;
  }
  
  
  /* Alignment */
  .acs-text-center {
    text-align: center;
  }
  .acs-text-left {
    text-align: left;
  }
  .acs-text-right {
    text-align: right;
  }
  .acs-text-underline {
    text-decoration: underline;
  }
  .acs-text-uppercase {
    text-transform: uppercase;
  }
  .acs-text-lowercase {
    text-transform: lowercase;
  }
  .acs-text-capitalize {
    text-transform: capitalize;
  }
  .acs-font-style-italic{
    font-style: italic;
  }
  /* Font Weight */
  .acs-font-weight-200 {
    font-weight: 200;
  }
  
  .acs-font-weight-300 {
    font-weight: 300;
  }
  
  .acs-font-weight-400 {
    font-weight: 400;
  }
  
  .acs-font-weight-500 {
    font-weight: 500;
  }
  
  .acs-font-weight-600 {
    font-weight: 600;
  }
  
  .acs-font-weight-700 {
    font-weight: 700;
  }
  
  .acs-font-weight-800 {
    font-weight: 800;
  }
  
  .acs-font-weight-900 {
    font-weight: 900;
  }
  
  /* Primary color */
  .acs-color-primary {
    color: #F9A11B;
  }
  
  /* Secondary color */
  .acs-color-secondary {
    color: #439BD3;
  }
  /* White */
  .acs-color-white {
    color: #FFF;
  }
  /* Black */
  .acs-color-black-9 {
    color: #9e9e9e;
  }
  
  .acs-color-black-8 {
    color: #888888;
  }
  
  .acs-color-black-7 {
    color: #666666;
  }
  
  .acs-color-black-6 {
    color: #404040;
  }
  
  .acs-color-black-5 {
    color: #252525;
  }
  
  /* Grey */
  .acs-color-grey-5 {
    color: #f5f5f5;
  }
  
  .acs-color-grey-4 {
    color: #ededed;
  }
  
  .acs-color-grey-3 {
    color: #e1e1e1;
  }
  
  .acs-color-grey-2 {
    color: #d1d1d1;
  }
  
  .acs-color-grey-1 {
    color: #acacac;
  }
  
  /* Margin Override */
  .acs-no-margin{
    margin:0px;
  }
  .acs-no-margin-left{
    margin-left:0px;
  }
  .acs-no-margin-top{
    margin-top:0px;
  }
  .acs-no-margin-right{
    margin-right:0px;
  }
  .acs-no-margin-bottom{
    margin-bottom:0px;
  }
  
  /* Padding Override */
  .acs-no-padding{
    padding:0px;
  }
  .acs-no-padding-top{
    padding-top:0px;
  }
  
  .acs-no-padding-bottom{
    padding-bottom:0px;
  }
  
  .acs-no-padding-left{
    padding-left:0px;
  }
  
  .acs-no-padding-right{
    padding-right:0px;
  }
  
  /* Gray-scale filters */
  .acs-gray-scale img, img.acs-gray-scale {
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 0.5s;
    opacity: 0.5;
  } 
  .acs-gray-scale img:hover, img.acs-gray-scale:hover {
    filter: grayscale(0);
    opacity: 1.0;
  }
  /* Override Gray-scale filters */
  .acs-no-gray-scale img {
    filter: grayscale(0);
    opacity: 1.0;
  }
  /* Only Gray scale effect */
  .acs-gray-scale-img {
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 0.5s;
    opacity: 0.5;
  }
  /* Paragraph Split */
  .acs-paragraph-split {
    width: 64px;
    height: 8px;
    background-color: #cca57e;
    display: inline-block;
  }
  
  /*************************************************************************************
  *
  * Custom Scrollbar
  *
  *************************************************************************************/
  
  ::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid #fff;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 40px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 40px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.5;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
  
  /*************************************************************************************
  *
  * Daterange Picker
  *
  *************************************************************************************/
  .daterangepicker .daterangepicker_input {
    display: none;
  }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    text-decoration: none !important;
  }