@media screen and (max-width: 991px){
  .big-banner {
    padding-top: 70px;
    height: 100%;
    flex-direction: column;
  }
    .custom-services {
      margin: 0;
    }
    .custom-services .col-md-4 a {
      margin: 0 0 20px;
    }
    .custom-services .col-md-4 a, .custom-services .col-md-3 a {
      border: 1px solid #eaeaea;
    }
    .custom-services .col-md-4 .outer-border, .custom-services .col-md-3 .outer-border {
      border: 1px solid #eaeaea;
      padding-bottom: 20px;
      margin: 0 0 20px;
    }
    .custom-services .col-md-3 iframe {
      height: 350px;
    }
    .hash-tag {
      margin: 20px 0;
    }
    .see-more {
      padding: 5px 10px;
      margin: 0px 0 0 0;
      font-size: 15px;
      font-weight: bold;
    }
}
@media screen and (max-width: 640px){
  .hash-tag {
    height: 300px
  }
  .hash-tag span {
    padding: 13px 5px 5px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
  }
}
@media screen and (max-width: 480px){	
  .custom-services .col-md-3 iframe {
    height: 200px;
  }
}