* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #000000;
  line-height: 1.6;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Comfortaa', cursive;*/
  overflow-x: hidden;
}
ul li {
  list-style-type: none;
}
html,body,p,ul,li,ol,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a, a:hover, a:focus {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}
.btn {
  white-space: initial;
}
button {
  border-radius: 6px;
}
input:focus, select:focus, a:focus, button:focus, a:hover {
  outline: none;
}
label {
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.btn:focus, .btn:hover {
  outline: none !important;
  background: transparent;
  box-shadow: none;
  border-color: transparent !important;
  color: initial;
}
#main {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}
figure {
  overflow: hidden;
}
.center-heading {
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 26px;
}
.center-heading01 {
  text-transform: uppercase;
  margin: 0 0 15px; 
}
.heading-article {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin: 10px 10px;
}
.about-bg {
  background: #000 url('../images/jordanshoesbanner.jpg')no-repeat fixed top -100px center / 100%;
  /* background: #000 url(../images/jordanshoesbanner.jpg) no-repeat fixed top -100px center / 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 36px;
  color: #000;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 150px 15px 50px;
}
.about-bg span {
  padding: 5px 15px;
  background: rgba(255,255,255,0.8);
  text-align: center;
}


/* Responsive =================*/
@media screen and (max-width: 991px){
.center-heading, .center-heading01 {
  margin: 30px 0 15px;
  padding-top: 20px;
  font-size: 24px;
  border-top: 1px solid #eaeaae;
}
}